
<!-- 
<div id="uploadBox" >
  <img  style="width:80%; padding-top:12%;" src="../assets/img/image_upload.svg">
  <p><strong>Choose file</strong><br>Size limit: 10MB
  </p>
</div>
  <p class="comment">• Please upload either a .JPG or .PNG only
  </p> -->


{{yield}}
