<div id="wrapper-launch" >
  <div id="contentHome" class="" >
    <section id="header">
     <div class="userNameTop">Welcome, {{ currentUser.pid.firstname}}  <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"></div>
      <div ><img class="srilogo" src="/assets/img/launch/s.svg" > </div><div> <h3 >Spectrum Reach Incentives</h3></div>
    </section>


<!-- <section id="altNav" >
<div class="container fadein " >
  <ul>
      <li><a href="/firstlook/homepage">Overview</a></li>
      <li><a href="/firstlook/leaderboard/elite-ae15m">Standings</a></li>
      <li><a href="/firstlook/rules">Rules</a></li>
      <li><a href="https://spectrumreach.typeform.com/to/zdQZSe" target="_blank">Account</a></li>
      <li><a href="/firstlook/logout">Sign Out</a></li>
  </ul>
</div>
</section> -->

<section id="launch" >

      <div  class="container fadein"  style="min-height:80vh;">


  <div class="row " style="">


    <div class=" col-xs-12 col-lg-6" style="width:80%; height:auto; margin:auto;">



      {{#link-to 'firstlook.leaderboard.elite-ae15m' replace="true"}}
      <img class=" " src="/assets/img/launch/firstlook-app-opt.jpg"  >
      {{/link-to}}

      <p style="text-align:center;">&nbsp;</p>



  </div>

   <div class=" col-xs-12  col-lg-6 " style=" width:80%; height:auto; margin:auto;">



      <img class=" " src="/assets/img/launch/rnh-app-opt.jpg"  >
        <p style="text-align:center;">Coming soon...</p>
    </div>


    <!-- //////////////////////////////////////// -->
    <!-- This is for when RNH is Ready for Launch -->
    <!-- //////////////////////////////////////// -->
    <!-- <div class=" col-xs-12  col-lg-6 " style=" width:80%; height:auto; margin:auto;">


      {{#link-to 'reachnewheights.dashboard' replace="true"}}
      <img class=" " src="/assets/img/launch/rnh-app-opt.jpg"  >
      {{/link-to}}
      {{#if currentUser.pid.isAdmin}}
        {{#link-to 'reachnewheights.admin' replace="true"}}
        <p style="text-align:center;">Click here for Admin</p>
        {{/link-to}}

        {{else}}
        <p style="text-align:center; visibility: hidden;">Click here for Admin</p>

      {{/if}}
    </div> -->


  </div>

  </div>

</section>








<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<div class="copyright"><p style="">Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>
 <div class="toTop"><span class="" {{action "scrollToTop"}}><span style="color:#fff;">Top</span> <img src="/assets/img/leaderboard/return_top.svg" /></span></div>

</section>

</div>
<!--  END WRAPPER  -->
</div>
