{{#if currentUser}}
<div id="wrapper" class="homepageWrapper">
  <div id="contentHome" class="" >
    <section id="header">
          <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
    </section>


<section id="welcome" style=" min-height:80vh !important;   background-image: url('../assets/img/homepage/background-welcome.jpg');">
      <div  class="container fadein"  style="" >

  <h1 style="font-size:4.4rem; margin-top:5vmin;">$510M STRONG</h1>
  <div ><hr style="color:0099D8; background-color:#0099D8; max-width:290px; margin:auto; margin-top:1.1rem; height:6px;"></div>
  <h2 style="font-size:2.2rem; line-height:2.4rem; max-width:780px; margin:auto;margin-top:3.0rem; ">Thank you for registering to compete in the 2018 First Look Sales Initiative</h2>
  <p style="font-size:14px; line-height:22px; margin-top:1.8rem;" >Tracking will start the first few weeks of January, so be sure to check back in for your standings. </p>
  <p>&nbsp;</p>
  <p style="font-size:14px; line-height:22px;" >We’re working together to deliver an enterprise number of $510 million by Friday, March 2nd. Hitting this enterprise goal is crucial to our success in the year ahead, and everyone in the organization plays an important role.</p>
  <h2 style="font-size:2.2rem; line-height:2.4rem; max-width:780px;margin:auto;margin-top:2.2rem; ">Let's work together and deliver First&nbsp;Look&nbsp;2018!</h2>


</div>
</section>


<section id="homepageCornerLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p>
</section>

</div>
<!--  END WRAPPER  -->
</div>
{{/if}}
