{{#if currentUser}}
<div id="wrapper" class="homepageWrapper">
  <div id="contentHome" class="" >
    <section id="header">
          <div style="float:left; margin:0;"><img class="l_FirstLook" src="../assets/img/L_FirstLook.png"></div>
          <div class="logoutBtn" style="float:right;  ">
            {{#link-to 'firstlook.logout' class="button " replace="true"}}
              <img src="../assets/img/homepage/signout.svg" />
            {{/link-to}}
          </div>
    </section>


<section id="welcome" class="welcomeMessage" style=" min-height:calc(100vh - 180px ) !important;   background-image: url('../assets/img/homepage/background-welcome.jpg');">
      <div  class="container fadein"  style="" >

  <h1 class="welcomeMessageh1" style="">$510M STRONG</h1>
  <div class="welcomeMessagehr"><hr style=""></div>
  <h2 class="welcomeMessageh2" style=" ">Thank you for registering to compete in the 2018 First Look Sales Initiative</h2>
  <p style="font-size:14px; line-height:22px; margin-top:1.8rem;" >Tracking will start the first few weeks of January, so be sure to check back in for your standings. </p>
  <p>&nbsp;</p>
  <p style="font-size:14px; line-height:22px;" >We’re working together to deliver an enterprise number of $510 million by Friday, March 2nd. Hitting this enterprise goal is crucial to our success in the year ahead, and everyone in the organization plays an important role.</p>
  <h2 class="welcomeMessageh2" >Let's work together and deliver First&nbsp;Look&nbsp;2018!</h2>


</div>
</section>


<section id="homepageCornerLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p>
</section>

</div>
<!--  END WRAPPER  -->
</div>
{{/if}}
