@import 'homepage';
@import "ember-side-menu";
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css');

@font-face {
    font-family: 'Gotham';
    src: url('styles/gotham/Gotham-Book.otf');
}
@font-face {
    font-family: 'GothamLight';
    src: url('styles/gotham/Gotham-Light.otf');
}
/*  ///////////  Top Level Structure  ////////////  */
html,body{
  padding:0;
  margin:0;
}

#wrapper {
    width:100%;
    margin:0;
    border:0;
    font-family: "Gotham", "Arial", sans-serif;
    font-size: 14px;
    text-align: center;

background: #003057; /* Old browsers */
background:  -moz-linear-gradient(-55deg,  #003057 0%, #0099D8 100%); /* FF3.6-15 */
background:  -webkit-linear-gradient(-55deg,  #003057 0%,#0099D8 100%); /* Chrome10-25,Safari5.1-6 */
background:  linear-gradient(125deg,  #003057 0%,#0099D8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003057', endColorstr='#0099D8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#content {
    margin: auto;
    width: 100%;
    min-height:100vh;
background: url("../assets/img/TriCorner.svg");
background-size: cover;
background-position: bottom right;
background-repeat: no-repeat;
  text-align: center;
  color:white;
}
#contentReg {
    margin: auto;
    width: 100%;
    min-height:100vh;
    background-color: #e4e4e4;
  background-image: url("../assets/img/TriCorner.svg");
  background-size: 36vw;
  background-position: bottom right;
  background-repeat: no-repeat;
  text-align: center;
  color:#003057;

}
#formHolder {
  opacity: 1;

}
.AnimCorner {

  -webkit-animation: AnimCorner 1.2s 1 ease-out; /* Safari 4.0 - 8.0 */
  animation: AnimCorner 1.2s 1 ease-out;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes AnimCorner {
    0%   {  background-size: 0vw;}
    100% {  background-size: 120vmin;}
}

/* Standard syntax */
@keyframes AnimCorner {
    0%   {background-size: 0vw;}
    100% {background-size: 120vmin;}
}

.AnimDown {

  -webkit-animation: animDown 1.2s 1 ease-out; /* Safari 4.0 - 8.0 */
  animation: animDown 1.2s 1 ease-out;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animDown {
    0%   {  background-size: 120vmin;}
    100% {  background-size: 36vmin;}
}

/* Standard syntax */
@keyframes animDown {
    0%   {background-size: 120vmin;}
    100% {background-size: 36vmin;}
}

/*  ///////////    HTML  ////////////  */
a {
  text-decoration:underline;
  color:white;
}
#contentReg  a {
  text-decoration:none;
  color:#fff;
}

p {
  font-size: 16px;
}
h3 {
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding:0.8rem;

}
.fadein {

    -webkit-animation: fadein 2s 1; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s 1; /* Firefox < 16 */
        -ms-animation: fadein 2s 1; /* Internet Explorer */
            animation: fadein 2s 1;


}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*  ///////////  elements  ////////////  */
form input, form select, btn{
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
  border-radius: 0;
  }

  /* Gerry's file upload style */

  .hidden {
    position: relative;
    opacity: 0;
    z-index: 2;
  }

  .uploadBtn {
      display: block;
      width:240px;
      height:280px;
      margin:auto;
      padding: 2px;
      margin-top:40px;
      background-image: url("../assets/img/imageUpload.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
    }

    .inputfile {
    	width: 0.1px;
    	height: 0.1px;
    	opacity: 0;
    	overflow: hidden;
    	position: absolute;
    	z-index: -1;
    }

  /*Gerry's changes end here*/


/*Shaun's changes to file upload*/
/*.hidden {
  position: relative;
  opacity: 0;
  z-index: 2;
  padding-bottom: 14rem;
  padding-top: 1rem;
  padding-left: 3rem;
}

.form-image-wrapper {
  position: absolute;
  top: 25%;
  left: 40%;
  z-index: 1;
}

#image-upload-wrapper>form>input[type="file"] {
    display: none!important;
  }

  #image-upload-wrapper>form>label {
    display: block;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
*/
/*Shaun's changes end here*/

#ember322 {
  text-decoration: none!important;
}

input, select{
width:280px;
margin:6px auto;
padding: 4px;
border:1px solid #0099d8;
height:3.0rem;
}

#final-form input, select{
width: 250px;
height: 30px;
margin: 0px;
padding: 0px;
border: 0px solid #0099d8;
background: transparent;
}

#final-form input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background-color: transparent!important;
}


label {
  font-size: 12px;
}
#contentReg label {
  font-size: 12px;
  color:#0099D8;
}
form .SR_btn {
  background:#0099d8;
  color:white;
width:240px;
height:50px;
border:0;
margin:30px auto;
font-size: 16px;

}
.Reg_btn {
  background:#0099d8;
  color:white;
  border:0;
  margin:auto;
  margin-top:4px;
  padding:18px 20px;
  width:200px;
  font-size: 16px;
}
.Reg_btn a {
  text-decoration: none;
}

.button {
  text-decoration: none;
}

.button-box {
  display: flex;
  margin: auto;
}

.comment {
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  color:#0099D8;

}
#profileSummary {
  text-align: center;
  line-height: 0.4rem;
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 14px;

}

#profileImg {
  max-width:300px;
  margin:auto;
  clip-path: circle(150px at center);
}
.profile {
  text-align:left;
  width:90vw;
  max-width:400px;
  margin: auto;
}
.userItem {
    font-size: 14px;
    text-align:left;
    border:0;
    background:none;
    padding:2px;
    padding-left:6px;
    margin:0;
    width:280px;
    height:20px;
    text-decoration: underline;
}

.profile .submit {
  /*margin-left:40px;*/

}


#thanks {
  width:80vw;
  margin:auto;
}
#thanks h2 {
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color:#0099D8;
}
/* //////////  header items  /////////  */
#contentReg  #header  {
  background: url("../assets/img/Main_Header_bg.svg");
  background-size: 100.5%;
  background-repeat: no-repeat;
  width:102%;
  height:12vh;
}

#content .l_FirstLook {
    margin:auto;
    padding-top:10vh;
    padding-bottom:10vmin;
}
#contentReg .l_FirstLook  {
    margin:auto;
    padding-top:5vh;
    padding-bottom:0px;
}

/* ////////  Navigation  ////////////////  */
#nav-wrapper {
    margin: auto;
    position: absolute;
    bottom: 10vh;
    left:10%;
    width: 80%;
}

#nav-wrapper #nav {
  margin:auto;
}
.navLeft, .navRight {

padding:6px;
height:24px;
}

#nav-wrapper #line {
  margin:auto;
  background: url("../assets/img/Line.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:100vw;
  text-align: left;
  padding:0;
}

.two {
  padding-left:30%;

/*  -webkit-animation: pg2 1.2s 1 ease-out; /* Safari 4.0 - 8.0 */
/*  animation: pg2 1.2s 1 ease-out;
*/
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes pg2 {
    0%   {  padding-left:0;}
    100% {  padding-left:30%;}
}

/* Standard syntax */
@keyframes pg2 {
    0%   {padding-left:0;}
    100% {padding-left:30%;}
}

.three {
  padding-left:65%;
/*  -webkit-animation: pg3 1.2s 1 ease-out; /* Safari 4.0 - 8.0 */
/*  animation: pg3 1.2s 1 ease-out;
*/
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes pg3 {
    0%   {  padding-left:30%;}
    100% {  padding-left:65%;}
}

/* Standard syntax */
@keyframes pg3 {
    0%   {padding-left:30%;}
    100% {padding-left:65%;}
}
.threeTwo {
  padding-left:30%;
  -webkit-animation: pg3-2 1.2s 1 ease-out; /* Safari 4.0 - 8.0 */
  animation: pg3-2 1.2s 1 ease-out;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes pg3-2 {
    0%   {  padding-left:65%;}
    100% {  padding-left:30%;}
}

/* Standard syntax */
@keyframes pg3-2 {
    0%   {padding-left:65%;}
    100% {padding-left:30%;}
}

.four {
  padding-left:96%;
/*  -webkit-animation: pg4 1.2s 1 ease-out; /* Safari 4.0 - 8.0 */
/*  animation: pg4 1.2s 1 ease-out;
*/
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes pg4 {
    0%   {  padding-left:65%;}
    100% {  padding-left:96%;}
}

/* Standard syntax */
@keyframes pg4 {
    0%   {padding-left:65%;}
    100% {padding-left:96%;}
}

.fourThree {
  padding-left:65%;
  -webkit-animation: pg4-3 1.2s 1 ease-out; /* Safari 4.0 - 8.0 */
  animation: pg4-3 1.2s 1 ease-out;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes pg4-3 {
    0%   {  padding-left:96%;}
    100% {  padding-left:65%;}
}

/* Standard syntax */
@keyframes pg4-3 {
    0%   {padding-left:96%;}
    100% {padding-left:65%;}
}
/*  ////////////////////  logo bottom right corner  //////////////  */
#uploadBox {
  border:1px solid #0099D8;
  width:40vw;
  max-width: 300px;
  height: 40vw;
  max-height:300px;
  margin:auto;
  color:#0099D8;
}

#bottomLogo img {
  max-width:126px;
  position: absolute;
  bottom: 4vh;
  right: 5vw;
}

/*  ////////////////////  LARGE - LANDSCAPE   //////////////  */


@media only screen and (min-width:768px) and (orientation:landscape) {
#contentReg, #contentHome {
  background-size: 36vmin;

}
#bottomLogo img {
    max-width:10%;
    right: 2vw;
    bottom: 3vh;
  }

}

/*  ////////////////////  MEDIA SMALL  //////////////  */
@media only screen and (max-width: 767px) {
  p {
    font-size: 14px;
  }

#bottomLogo img {
    max-width:20vw;
    right: 3vw;
    bottom: 3vh;
  }
  input, select{
  max-width:50vw;
  height:2.6rem;
  margin:10px auto;
  padding: 4px;
  border:1px solid #0099d8;
  }

  #final-form input, select{
  width: 250px;
  height: 30px;
  margin: 0px;
  padding: 0px;
  border: 0px solid #0099d8;
  background: transparent;
  }
  .Reg_btn {
    margin-top:0.6rem;
    width:200px;
    max-width:40vw;
  }
  input:placeholder-shown {
    font-size:12px;
  }

}

@media only screen and (max-width:767px) and (orientation:landscape) {
#content {
  background-size: 90vh;
  font-size:14px;

}
p {
  font-size:14px;
}
#bottomLogo img {
    max-width:18%;
    right: 2vw;
    bottom: 3vh;
  }

//  ///////  animCorner

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes AnimCorner {
      0%   {  background-size: 0vw;}
      100% {  background-size: 90vh;}
  }

  /* Standard syntax */
  @keyframes AnimCorner {
      0%   {background-size: 0vw;}
      100% {background-size: 90vh;}
  }

  //  ///////  animDown

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes animDown {
      0%   {  background-size: 90vh;}
      100% {  background-size: 36vw;}
  }

  /* Standard syntax */
  @keyframes animDown {
      0%   {background-size: 90vh;}
      100% {background-size: 36vw;}
  }

}
