.homepageWrapper {
  background-image: url("../assets/img/homepage/arrow.svg");
}

#menuToggle {
  position: absolute;
  right: 40px;
  color: white;
}

.content-backdrop {
  background-color: rgba(0,153,216,0.6) !important;
}

#menuRight {
  background-color: #003057;
  width: 300px;
  right: -300px;
  color: #0099D8 !important;
  font-size: 24px;
  font-weight: 500;
  padding: 16px;
}

#menuRight a {
  color: #0099D8 !important;
  width: 220px;
  clear: both;
  display: block;
}

#menuRight ul li {
  margin: 0.8rem 0.8rem 0.8rem 40px;
  font-size: 16px;
}

#menuRight img {
  display: inline-block;
  width: 24px;
  margin-right: 12px;
  height: auto;
  clear: both;
  padding: 6px 0;
}

#menuRight a {
  text-decoration: none;
}

#burger {
  padding-top: 2.5rem;
}

.userNameTop {
  position: absolute;
  top: 30px;
  right: 200px;
  text-align: right;
  color: white;
  font-size: 12px;
}

.border-top {
  border-top: 2px solid #0099D8;
  padding-top: 30px;
  width: 100%;
}

.btn {
  min-width: 200px;
  background-color: #0099D8;
  color: #fff;
}

.logoutBtn {
  margin: 1.2rem 20px 0 0;
  // border:solid 1px #fff;
  color: #fff;
  padding: 0;
}

.nav span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 24px;
}

.signOut {
  border: 1px solid #0099D8;
  font-size: 11px !important;
  text-align: center;
  margin: auto;
  float: right;
  width: 140px;
}
// =====  ALT NAV  ========   //

#altNav {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #e4e4e4;
  /* Old browsers */
  background-color: #e4e4e4;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: GothamMedium;
}

#altNav2 {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: #003057;
  /* Old browsers */
  background-color: #003057;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-family: GothamMedium;
}

#altNav ul,
#altNav2 ul {
  overflow: auto;
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  -webkit-padding-start: 0;
}

#altNav li,
#altNav2 li {
  height: 30px;
  display: inline-block;
  width: 120px;
  padding: 6px;
  margin-right: 0;
  border-right: 1px solid #aaa;
  color: #0099D8;
}

#altNav2 li {
  color: #50b9e4;
}

#altNav li:last-child,
#altNav2 li:last-child {
  border-right: none;
  padding-right: 0;
}

#altNav li a,
#altNav2 li a {
  text-decoration: none;
  color: #0099D8;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#altNav2 li a {
  color: #50b9e4;
}

#altNav li a:hover {
  color: #003057;
}

#altNav2 li a:hover {
  color: #e4e4e4;
}
// =====  END ALT NAV  ========   //

#contentHome {
  margin: auto;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  text-align: center;
  color: #003057;
}

#contentHome #header {
  background: url("../assets/img/Main_Header_bg.svg");
  background-size: 100.1%;
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
  margin: 0 0 0 -1px;
}

#contentHome .l_FirstLook {
  margin-left: 40px;
  float: left;
  padding-top: 30px;
  padding-bottom: 0;
  // width:100%;
  height: auto;
}

#contentHome #welcome {
  background-image: url("../assets/img/homepage/FL-header.jpg");
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

#welcome h1 {
  padding-top: 60px;
}

#welcome p {
  color: #596679;
  max-width: 785px;
  margin: auto;
}

#welcome h2 {
  padding-bottom: 30px;
}

#contentHome #welcome img {
  margin: 40px auto;
}

#welcome .welcomeMessageh1 {
  // font-size:4.4rem;
  margin-top: 5vmin;
}

#welcome .welcomeMessagehr {
  // color:#0099D8;
  // background-color:#0099D8;
  max-width: 280px;
  margin: 1.1rem auto auto;
  // height:6px;
}

#welcome .welcomeMessageh2 {
  // font-size:2.2rem;
  // line-height:2.4rem;
  max-width: 775px;
  margin: 3.0rem auto auto;
}

#contentHome #welcome img {
  margin: 60px auto;
  width: 80%;
  max-width: 800px;
}

#message {
  margin-top: 5rem;
}

#message h2 {
  color: #003057;
  padding-bottom: 30px;
}

#message p,
#welcome p {
  text-align: left;
  text-align: left;
}

.video img {
  max-width: 100%;
  margin: auto;
}

.hideContent {
  overflow: hidden;
  line-height: 1.6rem;
  height: 10.5rem;
  padding: 2px;
  overflow: hidden;
}

.showContent {
  line-height: 1.6rem;
  height: auto;
}

.show {
  display: block;
  float: right;
  padding: 6px;
}

.hide {
  display: none!important;
}

#contentHome #goals {
  background-image: url("../assets/img/homepage/startingblocks.jpg");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: left;
}

#goals h1 {
  padding-top: 40vw;
  margin: auto;
  // margin-top:-4.6rem;
  // font-size:4.8rem;
  color: #0099D8;
  padding-left: 1rem;
}

#goals h2 {
  padding-top: 4rem;
}

#goals .messageIcon img {
  width: 100%;
  margin-top: 6rem;
}

#goals .placeIcon {
  padding-top: 1.8rem;
}

.glance {
  margin-top: 1rem;
  background-color: #003057;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0.8rem;
}

.impDate img {
  padding: 20px 0;
  margin: auto;
}

.impDate h5 {
  font-size: 1.8rem;
  font-weight: 500;
  padding-top: 46px;
  padding-left: 0.2rem;
}

#goodluck {
  background-image: url("../assets/img/homepage/goodluck.jpg");
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding-top: 12vmin;
  padding-bottom: 32vmin;
}

#goodluck img {
  padding: 40px;
}

#contentHome #homepageCornerLogo {
  height: 26vmin;
  width: 26vmin;
  margin-top: -26vmin;
  float: right;
  position: relative;
  background-image: url("../assets/img/TriCorner.svg");
  background-size: 26vmin;
  background-position: bottom right;
  background-repeat: no-repeat;
}

#contentHome #homepageCornerLogo img {
  position: relative;
  left: 5vmin;
  top: 12vmin;
  max-width: 12vmin;
}

#contentHome #stickyFooter {
  background: url("../assets/img/Main_Header_bg.svg");
  background-size: 102%;
  background-repeat: no-repeat;
  width: 100.1%;
  height: 60px;
  margin: 0 0 -8px -1px;
  height: 50px;
  padding: 12px 0 0 24px;
}

#contentHome #stickyFooter p {
  color: #ffffff;
  text-align: left;
  font-family: "GothamLight", sans-serif;
  font-size: 14px;
}
/*  ////////////////////  MEDIA MEDIUM  //////////////  */
@media only screen and (max-width: 991px) {
  .impDate img {
    padding: 0;
    margin: auto;
  }

  .impDate h5 {
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 2.0rem;
    color: white;
  }

  #rules p {
    margin-left: 2rem !important;
  }
}
/*  ////////////////////  MEDIA SMALL  //////////////  */
@media only screen and (max-width: 767px) {
  #contentHome #header {
    height: 54px;
  }

  #burger {
    padding-top: 0.5rem;
  }

  #burger img {
    width: auto;
  }

  .userNameTop {
    position: absolute;
    top: 18px;
    right: 120px;
    text-align: right;
    color: white;
    font-size: 12px;
  }

  .logoutBtn {
    margin-right: 10px;
    margin-top: 0.8rem;
    // border:solid 1px #fff;
    color: #fff;
    padding: 0;
  }

  .logoutBtn img {
    width: 70%;
    height: auto;
  }

  #altNav,
  #altNav2 {
    font-size: 0.7rem;
  }

  #altNav li,
  #altNav2 li {
    height: 24px;
    display: inline-block;
    width: 19%;
    padding: 2px;
    margin-right: 0;
    border-right: 1px solid #aaa;
    color: #0099D8;
  }

  #contentHome .l_FirstLook {
    margin-left: 30px;
    float: left;
    padding-top: 20px;
    padding-bottom: 0;
    height: 36px;
    max-width: 46vmin;
    height: auto;
  }

  #contentHome #welcome {
    min-height: 120vmin;
    text-align: center;
  }

  #welcome p {
    padding-left: 20px;
    padding-right: 20px;
  }

  .welcomeMessage {
    min-height: calc(100vh - 170px);
    height: 83vh;
  }

  #welcome .welcomeMessageh1 {
    font-size: 2.6rem;
    margin-top: 0;
  }

  #welcome .welcomeMessagehr {
    display: none;
  }

  #welcome .welcomeMessageh2 {
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin: 2.4rem auto auto;
  }

  #welcome h1 {
    font-size: 2.6rem;
    margin-top: 0;
  }

  #welcome hr {
    display: none;
  }

  #welcome h2 {
    // font-size:1.6rem;
    // line-height:1.8rem;
    margin: 2.4rem auto auto;
  }

  #contentHome #welcome img {
    width: 100%;
    margin: 40px auto;
  }

  #goals .messageIcon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  #goals .messageIcon img {
    width: 40%;
    margin: 0 auto;
  }

  #goals h1 {
    padding-top: 40vw;
    // margin-top:-3.4rem;
    font-size: 2.6rem;
  }

  .impDate img {
    padding: 0;
  }

  .impDate h5 {
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    color: white;
  }

  #goals .placeIcon {
    margin: auto;
    text-align: center;
  }

  #goals .placeIcon img {
    margin: auto;
    width: 80%;
    margin-top: 10px;
  }

  #contentHome #homepageCornerLogo img {
    position: relative;
    left: 5.5vmin;
    top: 9vmin;
    max-width: 12vmin;
  }

  #contentHome #stickyFooter p {
    font-size: 0.7rem;
    margin-top: 6px;
    text-align: center;
  }

  #goodluck img {
    margin: auto;
    width: 100%;
  }
}
/* ////////////////////////  VERY SMALL  //////////////  */
@media only screen and (max-width: 480px) {
  #contentHome #header {
    height: 54px;
  }

  .userNameTop {
    display: none;
  }

  .logoutBtn {
    margin-right: 0.6rem;
    margin-top: 0.8rem;
    // border:solid 1px #fff;
    color: #fff;
    padding: 0;
  }

  .logoutBtn img {
    width: 26vmin;
    height: auto;
  }

  #contentHome .l_FirstLook {
    margin-left: 30px;
    float: left;
    padding-top: 20px;
    padding-bottom: 0;
    height: 36px;
    width: 46vmin;
    height: auto;
  }
}