.graygradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e4e4e4+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e4e4e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */

}
.lastUpdated {
  text-align:right;
  margin-top:-10px;
}

#comapnyGoal {
  /* Rectangle 5 Copy 2: */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0099d8+0,40afdd+100 */
  background: #0099d8; /* Old browsers */
  background: -moz-linear-gradient(-86deg,  #0099d8 0%, #40afdd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-86deg,  #0099d8 0%,#40afdd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(96deg,  #0099d8 0%,#40afdd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099d8', endColorstr='#40afdd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color:white;
}
 #comapnyGoal h2 {
  font-size: 32px;
}

#comapnyGoal .container {
  margin:auto;
}
#comapnyGoal .progressBox {
    padding-top:40px;
}

#comapnyGoal  .progress-bar {
  background-color:#003357;
  /* Rectangle 3: */
background-image: linear-gradient(-90deg, #125993 0%, #003057 98%);
background: #003057; /* Old browsers */
background: -moz-linear-gradient(-90deg,  #125993 0%, #003057 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-90deg,  #125993 0%,#003057 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(90deg,  #125993 0%,#003057 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#125993', endColorstr='#003057',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

-webkit-animation-name: progress-lr; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
animation-name:  progress-lr;
animation-duration: 1.5s;

}
.bowen {
  margin-top:2px;
}
.bowen img {
    width:180px;
    margin-right:10px;
}

.bowenName {
  color:white ;
  padding-top:76px;
  font-size:24px;
  text-align: left;
}

.bowenTitle {
  color:white ;
  font-size:11px;
  text-align: left;
  margin-top:-12px;;
}
#personalNumbers  h1 {
  font-size: 64px;

}

#personalNumbers  .progress-bar {
  background-color:#0099d8;
  /* Rectangle 3: */
background-image: linear-gradient(-90deg, #00C9EE 0%, #0099d8 98%);
background: #003057; /* Old browsers */
background: -moz-linear-gradient(-90deg,  #00C9EE 0%, #0099d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-90deg,  #00C9EE 0%,#0099d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(90deg,  #00C9EE 0%,#0099d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00C9EE', endColorstr='#0099d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


}




#personalNumbers h5 {
  font-size: 1.2rem;
  margin: 0;
  font-family: "GothamMedium";
  // font-family: 'Open Sans', sans-serif;
  // font-weight:500;
  padding:8px 0 0 0;
}
#personalNumbers .image2nd {
float:left;
background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
background-repeat: no-repeat;
background-position: top left;
background-size:132px;
padding:0;
width:240px;
height:140px;
// border:1px solid red;  // to test height

}
#personalNumbers .rank {
  display:block;
float:left;
text-align: center;
width:100px;
margin:0;
padding:0;
color:white;
font-size:24px;
font-weight:600;
margin-top:45px;
}

#personalNumbers .image2nd img {
  clip-path: circle(66px at center);
  border:2px solid white;
  border-radius: 50%;
  width:132px;
  height:auto;
  margin-top:-72px;
  margin-left:100px;
}


#leadingNumbers  .footnote, #lsmLeaders  .footnote  {
  font-size:11px;
  text-align: left;
  padding:0 0 0 0px;
  margin-top:-16px;
  color: #003057;


}
.eliteGroup {
  padding:40px 0;

}
.eliteNav  {
  text-align:right;

}
.eliteNav img {
  margin:0;
  margin-top:6px;
  margin-right:-5px;
  padding:0;
}
.eliteNav .footnote  p {
  margin-top:8px;
  padding-left:188px;
  padding-top:14px;
  font-size:11px;
  text-align: left;
  color: #003057;

}

.rank {
  display:none;
}


.eliteItem:nth-of-type(1){
  margin:0 0 20px 0;
}

/*  /////  ELITE IMAGES  ////  */
.eliteGroup .eliteItem:nth-of-type(1) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/1st_triangle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size:55px;
  margin-top:-28px;
}

.eliteGroup .eliteItem:nth-of-type(1) .image1st img {
  clip-path: circle(99px at center);
  width:200px;
  height:auto;
  border:8px solid white;
    border-radius: 50%;
}

.eliteGroup .eliteItem:nth-of-type(2) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/2nd_triangle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size:50px;
}

.eliteGroup .eliteItem:nth-of-type(2) .image1st img {
  clip-path: circle(86px at center);
  width:172px;
  height:auto;
  border:5px solid white;
    border-radius: 50%;

}

.eliteGroup .eliteItem:nth-of-type(3) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/3rd_triangle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size:50px;
}

.eliteGroup .eliteItem:nth-of-type(3) .image1st img {
  clip-path: circle(86px at center);
  width:172px;
  height:auto;
  border:5px solid white;
    border-radius: 50%;

}
.eliteGroup .eliteItem:nth-of-type(4) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/4th_triangle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size:50px;

}

.eliteGroup .eliteItem:nth-of-type(4) .image1st img {
  clip-path: circle(86px at center);
  width:172px;
  height:auto;
  border:5px solid white;
    border-radius: 50%;

}

 .eliteItem:nth-of-type(5) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/5th_triangle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size:45px;
  margin-top:40px;
}

 .eliteItem:nth-of-type(5) .image1st img {
  clip-path: circle(70px at center);
  width:140px;
  height:auto;
  border:3px solid white;
    border-radius: 50%;

}
 .eliteItem:nth-of-type(6) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/6th_triangle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size:45px;
  margin-top:40px;
}

 .eliteItem:nth-of-type(6) .image1st img {
  clip-path: circle(70px at center);
  width:140px;
  height:auto;
  border:3px solid white;
    border-radius: 50%;

}
 .eliteItem:nth-of-type(7) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/7th_triangle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size:45px;
  margin-top:40px;
}

 .eliteItem:nth-of-type(7) .image1st img {
  clip-path: circle(70px at center);
  width:140px;
  height:auto;
  border:3px solid white;
    border-radius: 50%;

}
 .eliteItem:nth-of-type(8) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/8th_triangle.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size:45px;
  margin-top:40px;
}

 .eliteItem:nth-of-type(8) .image1st img {
  clip-path: circle(70px at center);
  width:140px;
  height:auto;
  border:3px solid white;
    border-radius: 50%;
}

.eliteGroup .eliteItem:nth-of-type(1) .percent2 {
  display:none;
}

.eliteGroup .eliteItem:nth-of-type(1) .percent {
  position:absolute;
  top:-20px;
  left:150px;
}
.eliteItem:nth-of-type(2) .percent2, .eliteItem:nth-of-type(3) .percent2,.eliteItem:nth-of-type(4) .percent2 {
  display:none;
}
.eliteItem:nth-of-type(2) .percent, .eliteItem:nth-of-type(3) .percent,.eliteItem:nth-of-type(4) .percent {
  position:absolute;
  top:10px;
  left:142px;
}

.eliteItem:nth-of-type(5) .percent2, .eliteItem:nth-of-type(6) .percent2,.eliteItem:nth-of-type(7) .percent2,.eliteItem:nth-of-type(8) .percent2 {
  display:none;
}

.eliteItem:nth-of-type(5) .percent, .eliteItem:nth-of-type(6) .percent,.eliteItem:nth-of-type(7) .percent,.eliteItem:nth-of-type(8) .percent  {
  position:absolute;
  top:30px;
  left:108px;
}


.eliteProgressBar {
    padding:10px 0;
    clear:both;
    width:80%;

}
.eliteGroup  .progress {
  clear:both;
  background-color:white;
  border:1px
  solid #0099D8;
}

.eliteGroup  .progress-bar {
  background-color:#0099d8;
  /* Rectangle 3: */
background-image: linear-gradient(-90deg, #00C9EE 0%, #0099d8 98%);
background: #003057; /* Old browsers */
background: -moz-linear-gradient(-90deg,  #00C9EE 0%, #0099d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-90deg,  #00C9EE 0%,#0099d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(90deg,  #00C9EE 0%,#0099d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00C9EE', endColorstr='#0099d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:8px;

}

.eliteDatum2m {
  display:none;
}

.eliteGroup .eliteDatum2 {
  display:block;
  clear:both;
  padding-top:6px;
}

 .eliteItem:nth-of-type(1) .eliteDatum2 {
   display:block;
   font-size: 16px;
}
 .eliteItem:nth-of-type(2), .eliteItem:nth-of-type(3), .eliteItem:nth-of-type(4) .eliteDatum2 {
   display:block;
   font-size: 14px;
}
 .eliteItem:nth-of-type(5),  .eliteItem:nth-of-type(6),  .eliteItem:nth-of-type(7), .eliteItem:nth-of-type(8) .eliteDatum2 {
   display:block;
   font-size: 13px;
}

#lsmLeaders h1 {
    font-size:72px !important;
    padding-top: 6px;
}

.lsmGroup  {
  margin-top:40px;
}
.lsmGroup p img {
  margin-top:12px;
}

.lsmGroup h4, .lsmGroup h5, {
  text-align: left;
}
.lsmImg {
  width:224px;
  clip-path: circle(112px at center);
}
.active {
  color:#003057;
}
.rotate90 {
/* Safari */ -webkit-transform: rotate(90deg);
/* Firefox */ -moz-transform: rotate(90deg);
/* IE */ -ms-transform: rotate(90deg);
/* Opera */ -o-transform: rotate(90deg);
/* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation1);
}


#pdf {
  text-align:left;
}

.standingProgress {

}
.filter {
  font-size: 1.4rem;
  margin: 12px;
   font-family: "GothamMedium";
  // font-family: 'Open Sans', sans-serif;
  // font-weight:500;
}

.filters {
  margin: 10px 0;
}

.filterBtn {
  float:left;
  padding: 0 12px;
  color:#003057;
  background-repeat: no-repeat;
  background-position: top left;
  width:39px;
  height:51px;
}

.filterBtn1 {
  background-image: url("/assets/img/leaderboard/01_tab.png");

}
.filterBtn2 {
  background-image: url("/assets/img/leaderboard/02_tab.png");

}
.filterBtn3 {
  background-image: url("/assets/img/leaderboard/03_tab.png");

}
.filterBtn4 {
  background-image: url("/assets/img/leaderboard/04_tab.png");

}
.filterBtn5 {
  background-image: url("/assets/img/leaderboard/05_tab.png");

}

.filterBtn:hover {
  cursor:pointer;

}
.AE15mActive {
  background-image: url("/assets/img/leaderboard/01_section.png");
  width:200px;
}

.AE1mActive {
  background-image: url("/assets/img/leaderboard/02_section.png");
  width:200px;
}

.AE700kActive {
  background-image: url("/assets/img/leaderboard/03_section.png");
  width:200px;
}
.AE450kActive {
  background-image: url("/assets/img/leaderboard/04_section.png");
  width:200px;
}
.AE499kActive {
  background-image: url("/assets/img/leaderboard/05_section.png");
  width:200px;
}


.Filters {
  position:absolute;
  top:0;
  left:0;
}


#FilterDisclaimer {
  display:none;
}

.filterOptions {

  // background-image: url('/assets/img/leaderboard/filterOption-bg.png');
  // background-repeat: no-repeat;
  // background-position: top;
  // background-size: auto 100%;

  background: #FFFFFF;
  border: 1px solid #0099D8;
  box-shadow: 0 2px 6px 0 rgba(0,153,216,0.50);

  padding:10px 20px 10px 0;

}
.filterOptions ul {
 list-style-type:none;
}
.filterOptions ul li {
  padding:4px 20px 4px 20px;
  margin-left:-36px;
  margin-right: -16px;
  text-align:left;
 }
.filterOptions ul li:hover {
  // background-color:#0099D8;
  color:#0099D8;
  cursor: pointer;

 }
// .filterOptions ul li:hover {
//   background-color:#0099D8;
//   color:white;
//   cursor: pointer;
//
//  }
#filterCategory {
  margin-left:60px;
  margin-top:40px;
  position:absolute;
  z-index: 10000;
}
#filterDivisions {
  margin-left:180px;
  margin-top:40px;
  position:absolute;
  z-index: 10000;
}
#filterRegions {
  margin-left:280px;
  margin-top:40px;
  position:absolute;
  z-index: 10000;
}
#filterManagers {
  margin-left:360px;
  margin-top:40px;
  position:absolute;
  z-index: 10000;

}
#filterAEs {
  margin-left:480px;
  margin-top:40px;
  position:absolute;
  z-index: 10000;
}

.copyright {
  float:left;
}
.toTop {
  float:right;
}
.toTop img {
  padding:6px;
  margin-right:24px;
}
#AElist {
  margin:-70px 0;
}
 .dataheader {
  background: url("/assets/img/Main_Header_bg.svg");
  background-size: 102%;
  background-repeat: no-repeat;
  width:100.1%;
  height:40px;
  color:white;
  display: flex;
  align-items: center;
}

.datatable {
  overflow-y: auto;
  // max-height:400px;
}


.datatable .bgLtBLue {
  background-color: #0099D8;
  color:white;
  margin:-10px 0;
  padding:10px 0;
}
.datatable .bgDkBlue {
  background-color: #003057;
  color:white;
  margin:-10px 0;
  padding:10px 0;
}
.datatable .progress {
  height:12px;

}

.datatable .row {
  display: flex;
  align-items: center;
  padding:5px 0;

}

.datatable .row:nth-child(odd){
  // background-color: #F1F1F1;

}


@keyframes progress-lr {
    0% { left: 0;  }
    100% { left: 100%; }
}



/*  ////////////////////  MEDIA MEDIUM  //////////////  */
@media only screen and (max-width: 1199px) {
  .bowen img {
      width:120px;
      margin-right:10px;
  }

  .bowenName {
    color:white ;
    padding-top:46px;
    font-size:24px;
    text-align: left;
  }

  .bowenTitle {
    color:white ;
    font-size:11px;
    text-align: left;
    margin-top:-12px;;
  }
  #comapnyGoal .progressBox {
      padding-top:14px;
  }
  #comapnyGoal h2 {
   font-size: 28px;
 }

  .leaderboard h1 {
      font-size:54px !important;
      padding-top: 6px;
  }
  #lsmLeaders h1 {
      font-size:54px !important;
      padding-top: 6px;
  }

 .lsmImg {
   width:200px;
   clip-path: circle(100px at center);
 }

 .eliteNav .footnote  p {
   margin-top:8px;
   padding-left:100px;
   padding-top:14px;
   font-size:11px;
   text-align: left;
   color: #003057;

 }

}

/*  ////////////////////  MEDIA MEDIUM  //////////////  */
@media only screen and (max-width: 991px) {

  .bowen img {
      width:120px;
      margin-right:10px;
  }

  .bowenName {
    color:white ;
    clear:both;
    padding-top:12px;
    font-size:20px;
    text-align: left;
  }

  .bowenTitle {
    color:white ;
    font-size:11px;
    text-align: left;
    margin-top:-12px;;
  }
  #comapnyGoal .progressBox {
      padding-top:34px;
  }
  #comapnyGoal h2 {
   font-size: 20px;
 }

 .lsmGroup p img {
   margin-top:6px;

 }


    #leadingNumbers  .footnote {

  }
  .eliteNav .footnote  p {
    margin-top:8px;
    padding-left:5px;
    padding-top:14px;
    font-size:11px;
    text-align: left;
    color: #003057;

  }

  .eliteNav  {
    text-align:left;

  }
  .eliteNav  p {
    text-align:left;
    clear:both;

  }
  .eliteNav img {
    margin:0;
    margin-top:6px;
    margin-right:-5px;
    padding:0;
  }

  #pdf {
      text-align:right;
      float:right;
      margin-top:-60px;
      }

  .listHide {
          display:none;
        }



}
/*  ////////////////////  MEDIA SMALL  //////////////  */
@media only screen and (max-width: 767px) {

  .lastUpdated {
    text-align:left;
    margin-top:-10px;
    padding-left:16px;
  }

  .bowen img {
      width:90px;
      margin-right:10px;
  }

  .bowenName {
    color:white ;
    clear:none;
    padding-top:30px;
    font-size:20px;
    text-align: left;
  }

  .bowenTitle {
    color:white ;
    font-size:11px;
    text-align: left;
    margin-top:-12px;;
  }

  #comapnyGoal .progressBox {
      padding-top:24px;
  }
  #comapnyGoal  .progress-bar {
    height:8px;
}
  #comapnyGoal h2 {
   font-size: 22px;
 }

  #comapnyGoal h4 {
  }
.userData {
  clear:both;
}

#personalNumbers .image2nd img {
  margin-top:-74px;
}

#personalNumbers h1 {
  font-size:30px !important;
}
#personalNumbers h2 {
  font-size:18px !important;
}

#leadingNumbers h1 {
  font-size:32px !important;
}

.eliteNav  {
  text-align:left;

}
.tab {
  width:35px;
  height:auto;
}
.tabActive {
  width:182px;
  height:auto;
}

.rank {
  display:block;
  color:white;
  padding:20px 0 0 6px;
  font-size:11px;
}

/*  /////////////  ELITE IMAGE SET  ////////////////   */

.eliteProgressBar {
  display:none;
}

.eliteGroup {
  padding:4px 0;
}

.eliteGroup .eliteItem {
  border-bottom:2px solid gray;
  border-bottom:2px solid gray;
  float:left;
  padding:2px 0;
  margin:0;
}
.eliteGroup .eliteItem:nth-of-type(1) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
  background-repeat: no-repeat;
  background-position: top left -16px;
  background-size:68px;
  margin-top:0;
}

.eliteGroup .eliteItem:nth-of-type(1) .image1st img {
  clip-path: circle(34px at center);
  width:62px;
  height:62px;
  border:0;
    border-radius: 50%;
    margin-left:36px;
    margin-top:-44px;
}

.eliteGroup .eliteItem:nth-of-type(2) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
  background-repeat: no-repeat;
  background-position: top left -16px;
  background-size:68px;
}

.eliteGroup .eliteItem:nth-of-type(2) .image1st img {
  clip-path: circle(34px at center);
  width:62px;
  height:62px;
  border:0;
    border-radius: 50%;
    margin-left:36px;
    margin-top:-44px;

}

.eliteGroup .eliteItem:nth-of-type(3) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
  background-repeat: no-repeat;
  background-position: top left -16px;
  background-size:68px;
}

.eliteGroup .eliteItem:nth-of-type(3) .image1st img {
  clip-path: circle(34px at center);
  width:62px;
  height:62px;
  border:0;
    border-radius: 50%;
    margin-left:36px;
    margin-top:-44px;

}
.eliteGroup .eliteItem:nth-of-type(4) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
  background-repeat: no-repeat;
  background-position: top left -16px;
  background-size:68px;

}

.eliteGroup .eliteItem:nth-of-type(4) .image1st img {
  clip-path: circle(34px at center);
  width:62px;
  height:62px;
  border:0;
    border-radius: 50%;
    margin-left:36px;
    margin-top:-44px;

}

 .eliteItem:nth-of-type(5) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
  background-repeat: no-repeat;
  background-position: top left -16px;
  background-size:68px;
  margin-top:0px;

}

 .eliteItem:nth-of-type(5) .image1st img {
   clip-path: circle(34px at center);
   width:62px;
   height:62px;
   border:0;
     border-radius: 50%;
     margin-left:36px;
     margin-top:-44px;

}
 .eliteItem:nth-of-type(6) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
  background-repeat: no-repeat;
  background-position: top left -16px;
  background-size:68px;
  margin-top:0px;
}

 .eliteItem:nth-of-type(6) .image1st img {
   clip-path: circle(34px at center);
   width:62px;
   height:62px;
   border:0;
     border-radius: 50%;
     margin-left:36px;
     margin-top:-44px;

}
 .eliteItem:nth-of-type(7) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
  background-repeat: no-repeat;
  background-position: top left -16px;
  background-size:68px;
  margin-top:0px;
}

 .eliteItem:nth-of-type(7) .image1st img {
   clip-path: circle(34px at center);
   width:62px;
   height:62px;
   border:0;
     border-radius: 50%;
     margin-left:36px;
     margin-top:-44px;

}
 .eliteItem:nth-of-type(8) .image1st {
  float:left;
  background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
  background-repeat: no-repeat;
  background-position: top left -16px;
  background-size:68px;
  margin-top:0px;
}

 .eliteItem:nth-of-type(8) .image1st img {
   clip-path: circle(34px at center);
   width:62px;
   height:62px;
   border:0;
     border-radius: 50%;
     margin-left:36px;
     margin-top:-44px;

}

.eliteGroup .eliteItem:nth-of-type(1) .percent {
  display:none;
}
.eliteGroup .eliteItem:nth-of-type(1) .percent2 {
  display:block;
  position:absolute;
  top:-26px;
  left:70px;
}
.eliteItem:nth-of-type(2) .percent, .eliteItem:nth-of-type(3) .percent,.eliteItem:nth-of-type(4) .percent {
  display:none;
}
.eliteItem:nth-of-type(2) .percent2, .eliteItem:nth-of-type(3) .percent2,.eliteItem:nth-of-type(4) .percent2 {
  display:block;
  position:absolute;
  top:-26px;
  left:70px;
}


.eliteItem:nth-of-type(5) .percent, .eliteItem:nth-of-type(6) .percent,.eliteItem:nth-of-type(7) .percent,.eliteItem:nth-of-type(8) .percent  {
  display:none;
}

.eliteItem:nth-of-type(5) .percent2, .eliteItem:nth-of-type(6) .percent2,.eliteItem:nth-of-type(7) .percent2,.eliteItem:nth-of-type(8) .percent2 {
  display:block;
  position:absolute;
  top:-26px;
  left:70px;
}

.eliteProgressBar {
    padding:10px 0;
    clear:both;
    width:80%;

}
.eliteGroup  .progress {
  clear:both;
  background-color:white;
  border:1px
  solid #0099D8;
}

.eliteGroup  .progress-bar {
  background-color:#0099d8;
  /* Rectangle 3: */
background-image: linear-gradient(-90deg, #00C9EE 0%, #0099d8 98%);
background: #003057; /* Old browsers */
background: -moz-linear-gradient(-90deg,  #00C9EE 0%, #0099d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-90deg,  #00C9EE 0%,#0099d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(90deg,  #00C9EE 0%,#0099d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00C9EE', endColorstr='#0099d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:8px;

}



.eliteItem .eliteDatum2, .eliteItem:nth-of-type(1) .eliteDatum2, .eliteItem:nth-of-type(4) .eliteDatum2, .eliteItem:nth-of-type(8) .eliteDatum2 {
  display:none;
}


.eliteItem .eliteDatum2m {
 display:block;
 position:absolute;
 top:10px;
 left:170px;
 font-size:11px;
 line-height:14px;
 }


/*  /////////////   END ELITE IMAGES   ////////////////   */

  #lsmLeaders h1 {
    font-size:32px !important;
  }

  .lsmGroup  {
    margin-top:4px;
  }

  .lsmMobileRow {
    text-align: left;
    background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
    background-repeat: no-repeat;
    background-position: top left -16px;
    background-size:68px;
    border-bottom: 2px solid gray;
    padding: 4px 0 4px 0;
    margin:2px 0;
    margin-left:-20px;
  }

  .lsmGroup p {
    height:45px;
  }

    .lsmGroup p img {
    margin-top:-5px;
    margin-left: 20px;
    width:64px;
    clip-path: circle(32px at center);
  }

  .lsmGroup h5, {
    text-align: left;
    font-size:11px;
    line-height:11px;
  }
  .lsmDataMobile h4 {
    text-align: left;
    font-size:18px;
    line-height:15px;
    font-family: "GothamMedium";
  }

.lsmDataMobile {
  display:block;
  position:absolute;
  top:10px;
  left:100px;

}
.toTop-lb {
    float:right;
  }
.toTop-lb img {
    padding:3px;
    margin-right:6px;
  }

  #pdf img {
    width:100%;
    padding-top:16px;
  }

  .listHide2 {
      display:none;
    }


#FilterDisclaimer {
  display:block;
}

.filters {
  margin: 10px 0;
}

.filterBtn {
  float:left;
  padding: 0 6px;

}

.filterBtn h3 {
    font-size:12px;
  }


  #filterCategory {
    margin-left:80px;
    margin-top:32px;
      position:absolute;
    z-index: 10000;
  }
  #filterDivisions {
    margin-left:140px;
    margin-top:32px;
    position:absolute;
    z-index: 10000;
  }
  #filterRegions {
    margin-left:230px;
    margin-top:32px;
    position:absolute;
    z-index: 10000;
  }
  #filterManagers {
    margin-left:280px;
    margin-top:32px;
    position:absolute;
    z-index: 10000;

  }
  #filterAEs {
    margin-left:340px;
    margin-top:32px;
    position:absolute;
    z-index: 10000;
  }


}
/*  ////////////////////  MEDIA SMALL  //////////////  */
@media only screen and (max-width: 565px) {

  #filterCategory {
    margin-left:20%;
    margin-top:80px;
      position:absolute;
    z-index: 10000;
  }
  #filterDivisions {
    margin-left:20%;
    margin-top:80px;
    position:absolute;
    z-index: 10000;
  }
  #filterRegions {
    margin-left:20%;
    margin-top:80px;
    position:absolute;
    z-index: 10000;
  }
  #filterManagers {
    margin-left:20%;
    margin-top:80px;
    position:absolute;
    z-index: 10000;

  }
  #filterAEs {
    margin-left:20%;
    margin-top:80px;
    position:absolute;
    z-index: 10000;
  }

#comapnyGoal h2 {
  font-size: 16px;
}

#pdf img {
  width:20%;
  padding-top:16px;
}
.AE15mActive {
  width:176px;
}

.AE1mActive {
  width:176px;
}

.AE700kActive {
  width:176px;
}
.AE450kActive {
  width:176px;
}
.AE499kActive {
  width:176px;
}


}
