.graygradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e4e4e4+100 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e4e4e4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e4e4e4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#e4e4e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4e4e4',GradientType=0 ); /* IE6-9 */

}

#comapnyGoal {
  /* Rectangle 5 Copy 2: */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0099d8+0,40afdd+100 */
  background: #0099d8; /* Old browsers */
  background: -moz-linear-gradient(-86deg,  #0099d8 0%, #40afdd 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-86deg,  #0099d8 0%,#40afdd 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(96deg,  #0099d8 0%,#40afdd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099d8', endColorstr='#40afdd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  color:white;
  padding:20px 0;
}
 h4 {
  // font-size: 1.6rem;
  // padding:8px 0 0 0;
  //  font-family: "GothamMedium";
  // font-family: 'Open Sans', sans-serif;
  // font-weight:500;

}

#comapnyGoal .container {
  margin:auto;
}
#comapnyGoal  .progress-bar {
  background-color:#003357;
  /* Rectangle 3: */
background-image: linear-gradient(-90deg, #125993 0%, #003057 98%);
background: #003057; /* Old browsers */
background: -moz-linear-gradient(-90deg,  #125993 0%, #003057 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-90deg,  #125993 0%,#003057 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(90deg,  #125993 0%,#003057 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#125993', endColorstr='#003057',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#personalNumbers {
padding:40px 0;
}

#personalNumbers  .progress-bar {
  background-color:#0099d8;
  /* Rectangle 3: */
background-image: linear-gradient(-90deg, #00C9EE 0%, #0099d8 98%);
background: #003057; /* Old browsers */
background: -moz-linear-gradient(-90deg,  #00C9EE 0%, #0099d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-90deg,  #00C9EE 0%,#0099d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(90deg,  #00C9EE 0%,#0099d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00C9EE', endColorstr='#0099d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}



#personalNumbers h3 {
  // font-size: 2.0rem;
  // margin: 0;
  //  font-family: "GothamMedium";
  // font-family: 'Open Sans', sans-serif;
  // font-weight:500;
  padding:8px 0 0 0;
}

#personalNumbers h5 {
  font-size: 1.2rem;
  margin: 0;
  font-family: "GothamMedium";
  // font-family: 'Open Sans', sans-serif;
  // font-weight:500;
  padding:8px 0 0 0;
}
#personalNumbers .image2nd {
float:left;
background: url("/assets/img/leaderboard/image-rect-with-cutout.png");
background-repeat: no-repeat;
background-position: top left;
background-size:132px;
margin:30px 0;
padding:0;
width:240px;
height:160px;
}
#personalNumbers .rank {
float:left;
text-align: center;
width:100px;
margin:0;
padding:0;
color:white;
font-size:24px;
font-weight:600;
margin-top:45px;
}

#personalNumbers .image2nd img {
clip-path: circle(60px at center);
width:60%;
height:auto;
margin-top:-80px;
margin-left:94px;}

#leadingNumbers {
padding:30px 0;
}

#leadingNumbers h1 {
  // font-size: 3.4rem;
  // margin: 0;
  //  font-family: "GothamMedium";
  // font-family: 'Open Sans', sans-serif;
  // font-weight:500;
  padding:0 0 0 0px;
  color:#0099D8;
}
#leadingNumbers  .footnote {
  font-size:11px;
  text-align: left;
  padding:0 0 0 0px;

}
.eliteGroup {
  padding:40px 0;

}
.eliteNav img {
  margin:0;
  margin-top:2px;
  margin-right:-5px;
  padding:0;
}
.eliteGroup .image1st {
float:left;
background: url("/assets/img/leaderboard/1st_triangle.svg");
background-repeat: no-repeat;
background-position: top left;
background-size:80px;
margin:0;
padding:0;

}
.eliteGroup .image1st img {
clip-path: circle(118px at center);
width:100%;
height:auto;
margin-top:-6px;
margin-left:-4px;
}

.eliteGroup .image2nd {
float:left;
background: url("/assets/img/leaderboard/2nd_triangle.svg");
background-repeat: no-repeat;
background-position: top left;
background-size:55px;
margin:0;
padding:0;

}
.eliteGroup .image2nd img {
clip-path: circle(70px at center);
width:100%;
height:auto;
margin-top:-6px;
margin-left:-4px;
}

.eliteGroup .img3rd {
background: url("/assets/img/leaderboard/3rd_triangle.svg");
background-repeat: no-repeat;
background-position: top left;
background-size:55px;
margin:0;
padding:0;
}

.eliteGroup .img4th {
background: url("/assets/img/leaderboard/4th_triangle.svg");
background-repeat: no-repeat;
background-position: top left;
background-size:55px;
margin:0;
padding:0;
}
.eliteGroup .img5th {
background: url("/assets/img/leaderboard/5th_triangle.svg");
background-repeat: no-repeat;
background-position: top left;
background-size:55px;
margin:0;
padding:0;
}

.eliteGroup .eliteDatum {
  clear:both;
  padding-top:10px;
}

.eliteGroup .eliteDatum2 {
  padding-top:30px;
}


#leadingNumbers {
padding:30px 0;
}

#standings {
  margin:30px 0;
}

#standings h1 {
  // font-size: 3.4rem;
  // margin: 0;
  //  font-family: "GothamMedium";
  // font-family: 'Open Sans', sans-serif;
  // font-weight:500;
  padding:0 0 0 10px;
  color:#0099D8;
  text-align:left;
}

.standingProgress {

}
.filter {
  font-size: 1.4rem;
  margin: 12px;
   font-family: "GothamMedium";
  // font-family: 'Open Sans', sans-serif;
  // font-weight:500;
  color:#003057;
}

.filters {
  font-size: 1.4rem;
  margin: 10px 0;
   font-family: "GothamMedium";
  // font-family: 'Open Sans', sans-serif;
  // font-weight:500;
  color:#0099D8;
  text-align:left;
}
.active {
  color:#003057;
}
.rotate90 {
/* Safari */ -webkit-transform: rotate(90deg);
/* Firefox */ -moz-transform: rotate(90deg);
/* IE */ -ms-transform: rotate(90deg);
/* Opera */ -o-transform: rotate(90deg);
/* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation1);
}


.copyright {
  float:left;
}
.toTop {
  float:right;
}
.toTop img {
  padding:6px;
  margin-right:24px;
}
 .dataheader {
  background: url("/assets/img/Main_Header_bg.svg");
  background-size: 102%;
  background-repeat: no-repeat;
  width:100.1%;
  height:40px;
  color:white;
  padding:6px 0;

}
.datatable {
  overflow-y: auto;
  height:110px;
}
.datatable .progress {
  height:12px;

}

.datatable .row {
  padding:8px;

}
.datatable .row:nth-child(odd){
  background-color: #F1F1F1;

}
/*  ////////////////////  MEDIA SMALL  //////////////  */
@media only screen and (max-width: 767px) {

  #comapnyGoal h4 {
    font-size: 1.2rem;
    padding:4px 0 0 0;
  }
  .standingProgress {
    display:none;
  }


  .eliteGroup .image1st {
  float:none;
  margin:0 auto;

  }

  .eliteGroup .image2nd {
    float:none;
    margin:0 auto;

  }

  .eliteGroup .img3rd {
    float:none;
    margin:0 auto;
  }

  .eliteGroup .img4th {
    float:none;
    margin:0 auto;
  }
  .eliteGroup .img5th {
    float:none;
    margin:0 auto;
  }

}
