#percent {
  width: 36px;
  height: 36px;
  border-radius:50%;
  background-color:#0099D8;
  overflow: hidden;
  position: absolute;
  top: 30px;
  left: 206px;
  z-index: 1000;
  color:#fff;
  text-align: center;
  padding:8px 0 0 0;
}

.progress-b{
    width: 130px;
    height: 130px;
    line-height: 130px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress-b:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress-b > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress-b .progress-b-left{
    left: 0;
}
.progress-b .progress-b-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress-b .progress-b-left .progress-b-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress-b .progress-b-right{
    right: 0;
}
.progress-b .progress-b-right .progress-b-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    // animation: loading-1 1.8s linear forwards;
    // // set: (4=10%; 1=50%; 2=40%; 3=25%; 5=30%
}
// .progress-b .progress-b-value{
//     width: 90%;
//     height: 90%;
//     border-radius: 50%;
//     background: #44484b;
//     font-size: 24px;
//     color: #fff;
//     line-height: 135px;
//     text-align: center;
//     position: absolute;
//     top: 5%;
//     left: 5%;
// }
.progress-b.blue .progress-b-bar{
    border-color: #0099D8;
}
.progress-b.blue .progress-b-left .progress-b-bar {
     // animation: loading-1 1.5s linear forwards 1.8s;
     // // set: (4=60%; 1=100%; 2=90%; 3=75%; 5=80%

}

// .progress-b.yellow .progress-b-bar{
//     border-color: #fdba04;
// }
// .progress-b.yellow .progress-b-left .progress-b-bar{
//     animation: loading-3 1s linear forwards 1.8s;
// }
// .progress-b.pink .progress-b-bar{
//     border-color: #ed687c;
// }
// .progress-b.pink .progress-b-left .progress-b-bar{
//     animation: loading-4 0.4s linear forwards 1.8s;
// }
// .progress-b.green .progress-b-bar{
//     border-color: #1abc9c;
// }
// .progress-b.green .progress-b-left .progress-b-bar{
//     animation: loading-5 1.2s linear forwards 1.8s;
// }
@keyframes loading-6{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(70deg);
        transform: rotate(70deg);
    }
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}

@media only screen and (max-width: 990px){
    .progress-b{ margin-bottom: 20px; }
}
