#wrapper-rnh {
    width:100%;
    height: 100%;
    margin:0;
    border:0;
    font-family: "Gotham",  sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #BFC9D2;
}

#wrapper-rnh h1 {
  font-family: 'Gotham', 'Open Sans', sans-serif;
  color: #BFC9D2;
  font-size: 64px;
}

#wrapper-rnh h2 {
  font-family: 'Open Sans', sans-serif;
  color: #466d8f;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

#wrapper-rnh h3,  {
  font-family: 'Open Sans', sans-serif;
  color: #003057;
  font-size: 36px;
  font-weight: 600;
}
#wrapper-rnh p {
  font-family: 'Open Sans', sans-serif;
  color: #003057;
  font-size: 18px;
  font-weight: 600;
}
// #wrapper-rnh p {
//   font-family: 'Open Sans', sans-serif;
//   color: #003057;
//   font-size: 16px;
//
// }

.divider-rnh {
  background: url("../assets/img/Main_Header_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  // width:102%;
  height:6px;
  margin:0;

}

#header-rnh {
  width:100%;
  margin:0;
  padding:0;
  padding:80px;
}

#header-rnh .logo_rnh  {
  float:left;
  width:50%;
}


.companyGoal {
  clear:both;
  padding-top:60px;
}
.companyGoal .progress {
  clear:both;
  background-color:white;
  border:2px solid #003057;
  border-radius: 20px;
}

#header-rnh   .Box {
    padding-top:40px;
}

#header-rnh    .-bar {
  background-color:#0099D8;

}
 .footnote-dash  {
  font-size:16px;
  text-align: left;
  padding:0 0 0 0px;
  margin-top:-12px;
  margin-left:4px;
  color: #003057;
}

.dashboard {
  background-color: #fff;
}

.Northeast-bar {
  background-color: #500778 !important;
}
.northeast-bar-label {
  float:right;
  margin-top:10px;
  margin-left:7%;
}
.South-bar {
  background-color: #009e8c  !important;
}
.south-bar-label {
  float:right;
  margin-top:10px;
  margin-left:13%;
}
.Central-bar {
  background-color: #96004d  !important;
}
.central-bar-label {
  float:right;
  margin-top:10px;
  margin-left:17%;
}
.West-bar {
  background-color: #faa41a  !important;
}
.west-bar-label {
  float:right;
  margin-top:10px;
  margin-left:16%;
}


#AE-dash .imageMine {
padding:0 20px;
}

#AE-dash .userPic {

}
#AE-dash .imageMine img {
  /* clip-path: circle(90px at center);  */
  border:2px solid #003057;
  border-radius: 50%;
  width:200px;
  height:auto;
  margin-top:0;
  margin-left:0px;
  float:left;
/*  padding:0 20px;  */
}

#AE-dash .imageMine .userData {
  float:left;
  padding:20px 0 0 12px;
}

#AE-dash .userData .title {
  float:left;
  text-align:right;
  border-right: 3px solid #003057;
  padding-right:12px;
}
#AE-dash .userData .data {
  float:left;
  text-align: left;
  padding-left:12px;

}
#AE-dash  .-bar {
  background-color:#0099D8;

}
#AE-dash  .progress {
    clear:both;
    background-color:white;
    border:2px solid #003057;
    border-radius: 20px;
}


#MGR-dash .imageMine {
padding:0 20px;
}
#MGR-dash .userPic {

}
#MGR-dash .imageMine img {
  // clip-path: circle(100px at center);
  border:2px solid #003057;
  border-radius: 50%;
  width:200px;
  height:auto;
  margin-top:0;
  margin-left:0px;
  float:left;
  // padding:0 20px;
}
#MGR-dash .imageMine .userData {
  float:left;
  padding:8px 0 0 12px;
}

#MGR-dash .userData .title {
  float:left;
  text-align:right;
  border-right: 3px solid #003057;
  padding-right:12px;
}
#MGR-dash .userData .data {
  float:left;
  text-align: left;
  padding-left:12px;

}
#MGR-dash  .progress-bar {
  background-color:#0099D8;

}
#MGR-dash  .progress {
    clear:both;
    background-color:white;
    border:2px solid #003057;
    border-radius: 20px;
}
#MGR-dash  .indyData img {
  border:1px solid #003057;
  border-radius: 50%;
  width:40px;
  height:auto;
  }

.divisionBtn {
    float:left;
    padding: 0 12px;
    color:#003057;
    background-repeat: no-repeat;
    background-position: top left;
    width:171px;
    height:66px;
  }

.divisionBtn1 {
    background-image: url("/assets/img/rnh/divisioncentral-off.png");
    z-index: 500;
  }
  .divisionBtn2 {
    background-image: url("/assets/img/rnh/divisionsouth-off.png");
    margin-left: -18px;
    z-index: 500;
  }
  .divisionBtn3 {
    background-image: url("/assets/img/rnh/divisionwest-off.png");
    margin-left: -18px;
    z-index: 500;
  }
  .divisionBtn4 {
    background-image: url("/assets/img/rnh/divisionnortheast-off.png");
    margin-left: -18px;
    z-index: 500;
  }

  .divisionBtn:hover {
    cursor:pointer;

  }
  .divisionBtn1-Active {
    background-image: url("/assets/img/rnh/divisioncentral-on.png");
    z-index: 10000;
  }

  .divisionBtn2-Active {
    background-image: url("/assets/img/rnh/divisionsouth-on.png");
    z-index: 10000;
  }

  .divisionBtn3-Active {
    background-image: url("/assets/img/rnh/divisionwest-on.png");
    z-index: 10000;
  }
  .divisionBtn4-Active {
    background-image: url("/assets/img/rnh/divisionnortheast-on.png");
    z-index: 10000;
  }

  #wrapper-rnh #standings {
    margin-bottom:0;
    background-color: #BFC9D2;
  }
#wrapper-rnh #AElist {
  margin:0;
  background-color: #ffffff;
}

/* //////////////////////  Small Tweaks From Shaun  /////////////////////  */
.border-right-line {
  border-right: 1px solid #003057;
}


#wrapper-rnh .table-striped tbody tr:nth-of-type(odd) {
  background-color: white;

}

#wrapper-rnh .datatable .table-bordered {
  border: 0px!important;
}

#wrapper-rnh .datatable .table-bordered td {
  border: 0px!important;
}

th.rnhprogress {
    position: absolute;
    top: 0.3%;
  }

#wrapper-rnh .form-group select  {
border-radius: 0px!important;
border: 2px solid white!important;
height: 41px;
}

#wrapper-rnh .form-control {
border-radius: 4px!important;
}

#wrapper-rnh .noborder .form-group .form-control{
border: 0px!important;
}

.placeholdercolor .form-group input::-webkit-input-placeholder {
  color: #003057;
}

.models-table-wrapper select ~ .clearFilterIcon {
  margin-right: inherit!important;
}

#wrapper-rnh  .datatable {
  margin:0;
  margin-top:-100px;
  background-color: #BFC9D2;
  padding:0 30px;
  // overflow-y: none;
  // max-height:400px;
}

#aeCentral, #aeWest, #aeNortheast, #aeSouth {
  background-color: #F1F1F1;
  margin:0;
  padding-top:14px;
}
.datatable .row {
  display: flex;
  align-items: center;
  padding:5px 0;

}

.datatable .row:nth-child(odd){
   //background-color: #F1F1F1;

}


/* //////////////////////  MEDIA  /////////////////////  */

  @media only screen and (min-width:1300px)  {
    .container {
      max-width:1280px;
    }

  }

  /* //////////////////////  MEDIA  1299   /////////////////////  */

  @media only screen and (max-width:1299px)  {


    #wrapper-rnh h2 {
      font-family: 'Open Sans', sans-serif;
      color: #466d8f;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }

    #wrapper-rnh h3,  {
      font-family: 'Open Sans', sans-serif;
      color: #003057;
      font-size: 30px;
      font-weight: 600;
    }

    #header-rnh .logo_rnh  {
      width:60%;
    }

    .divisionBtn {
        background-size: cover;
        width:154px;
        height:59px;
      }


  }

  /* //////////////////////  MEDIA  1200   /////////////////////  */

  @media only screen and (max-width:1200px)  {


     #wrapper-rnh h1 {
       font-family: 'Gotham', 'Open Sans', sans-serif;
       color: #BFC9D2;
       font-size: 58px;
     }

    #wrapper-rnh h2 {
      font-family: 'Open Sans', sans-serif;
      color: #466d8f;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
    }

    #wrapper-rnh h3,  {
      font-family: 'Open Sans', sans-serif;
      color: #003057;
      font-size: 22px;
      font-weight: 600;
    }
     #wrapper-rnh p {
       font-family: 'Open Sans', sans-serif;
       color: #003057;
       font-size: 16px;
       font-weight: 600;
     }

     #header-rnh .logo_rnh  {
       width:70%;
     }


     #AE-dash .imageMine img {
       width:160px;
       height:auto;
     }

     #MGR-dash .imageMine img {
       width:160px;
       height:auto;
     }

    .divisionBtn {
        background-size: cover;
        width:140px;
        height:53px;
      }
        .divisionBtn2 {
          margin-left: -14px;
        }
        .divisionBtn3 {
          margin-left: -14px;
        }
        .divisionBtn4 {
          margin-left: -14px;
        }


  }

  /* //////////////////////  MEDIA  991   /////////////////////  */

  @media only screen and (max-width:991px)  {


     #wrapper-rnh h1 {
       font-family: 'Gotham', 'Open Sans', sans-serif;
       color: #BFC9D2;
       font-size: 52px;
     }

    #wrapper-rnh h2 {
      font-family: 'Open Sans', sans-serif;
      color: #466d8f;
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }

    #wrapper-rnh h3,  {
      font-family: 'Open Sans', sans-serif;
      color: #003057;
      font-size: 28px;
      font-weight: 600;
    }
     #wrapper-rnh p {
       font-family: 'Open Sans', sans-serif;
       color: #003057;
       font-size: 18px;
       font-weight: 600;
     }

     #AE-dash .imageMine {
       margin-top:36px;
     }
     #MGR-dash .imageMine {
       margin-top:36px;
     }
     #AE-dash .imageMine img {
       width:200px;
       height:auto;
     }

     #MGR-dash .imageMine img {
       width:200px;
       height:auto;
     }
     #MGR-dash .teamProgress {
     }

     #AE-dash .teamProgress {
     }
     #MGR-dash .teamProgress {
       padding-top:36px;
     }

     #AE-dash .teamProgress {
     }
     #MGR-dash .indyData {

     }
    .divisionBtn {
        background-size: cover;
        width:171px;
        height:66px;
      }

  }

  /* //////////////////////  MEDIA  1200   /////////////////////  */

  @media only screen and (max-width:767px)  {


     #wrapper-rnh h1 {
       font-family: 'Gotham', 'Open Sans', sans-serif;
       color: #BFC9D2;
       font-size: 36px;
     }
    #wrapper-rnh h2 {
      font-family: 'Open Sans', sans-serif;
      color: #466d8f;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px;
    }

    #wrapper-rnh h3,  {
      font-family: 'Open Sans', sans-serif;
      color: #003057;
      font-size: 20px;
      font-weight: 600;
    }
     #wrapper-rnh p {
       font-family: 'Open Sans', sans-serif;
       color: #003057;
       font-size: 16px;
       font-weight: 600;
     }

     #header-rnh .logo_rnh  {
       width:80%;
     }


  #AE-dash .userPic {
    width:36%;
    float:left;
  }
  #AE-dash .userData {
    float:left;
    clear:none;
  }


     #AE-dash .imageMine img {
       width:140px;
       height:auto;
     }

     #MGR-dash .imageMine img {
       width:140px;
       height:auto;
     }
    .divisionBtn {
        background-size: cover;
        width:136px;
        height:50px;
      }

  }

  /* //////////////////////  MEDIA  1200   /////////////////////  */

  @media only screen and (max-width:600px)  {
    .colGoalTitle {
      display:none;
    }
    #header-rnh .logo_rnh  {
      width:96%;
      margin:auto;
      float:none;
    }


    .divisionBtn {
        background-size: cover;
        width:24vw;
        height:4vh;
      }

}
