thead {
    background: url(/assets/img/Main_Header_bg.svg);
    background-size: 102%;
    background-repeat: repeat-y;
    width: 100.1%;
    color: white;
  }


  button.btn.btn-default.dropdown-toggle {
      display: none;
  }

.table thead th {
  border: 0px;
}

tbody tr td {
  text-align: left;
}

.widerwidth {
   width: 20rem;
}

@media only screen and (max-width: 1024px) {

 //  this will hide data thead on phone & ipad and some smaller browser windows
thead {
  display:none;
}

}
#wrapper-rnh thead {
  background: none;
  background-color:#BFC9D2;
  width: 1200px;
    max-width:100.2%;
    color: #003057;
  }

#wrapper-rnh  .form-control  {
  border:2px solid white !important;
  background-color:#BFC9D2 !important;
  color: #003057;
  border-radius:0;

}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
thead {
    background-size: 1800px;
    background-repeat: repeat;
  }

}
