thead {
    background: url(/assets/img/Main_Header_bg.svg);
    background-size: 102%;
    background-repeat: repeat-y;
    width: 100.1%;
    color: white;
  }


  button.btn.btn-default.dropdown-toggle {
      display: none;
  }

.table thead th {
  border: 0px;
}

tbody tr td {
  text-align: left;
}

.widerwidth {
   width: 20rem;
}

@media only screen and (max-width: 1024px) {

 //  this will hide data thead on phone & ipad and some smaller browser windows
thead {
  display:none;
}

}
