
   <div class="progress" style=" background-color:white; border:1px solid #0099D8;">
     <div class="progress-bar" role="progressbar" aria-valuenow="{{record.fullyear}}" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:{{record.fullyear}}%; ">
       <!-- <span class="">70% </span> -->
      </div>
   </div>
