<div id="wrapper" class="homepageWrapper">
  <div id="contentHome" class="" >
    <section id="header">
          <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
    </section>


    <section id="comapnyGoal" class="" style="">
      <div  class="container "  >
    <div class="row" >


    	      <div class="col-sm-12" >

    	 	 <div style="float:left;"><h4 style="color:#003057;">COMPANY-WIDE GOAL</h4></div>   <div style="float:right;"><h4>50% </h4></div>
          <div class="progress" style="clear:both; background-color:white; border:1px solid #003057;">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="background-color:#003057; width:50%">
              <!-- <span class="">70% </span> -->
            </div>
          </div>
          <div style="float:left;"><h4>2018 GOAL</h4></div>   <div style="float:right;"><h4 style="color:#003057;">$255,000,000/$510,000,000 </h4></div>

    	 </div>


    </div>
    </div>
    </section>


    <section id="personalNumbers" class="graygradient" style="">
      <div  class="container "  >
    <div class="row" >

    	     <div class="col-md-12 col-lg-4" >
             <div class=" "  style="">      <img src="../assets/img/leaderboard/2nd-5th_place.png">
</div>
             <div class=" " style="">Name<br>ID<br>manager<br>Division<br>Region</div>
           </div >

    	  <div class=" col-md-12 col-lg-8" >
    	 	 <div style="float:left;"><h4 style="color:#003057;">&nbsp;</h4></div>   <div style="float:right;"><h4>50% </h4></div>
          <div class="progress" style="clear:both; background-color:white; border:1px solid #0099D8;">
            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="background-color:#0099D8; width:50%; ">
              <!-- <span class="">70% </span> -->
            </div>
          </div>
          <div style="float:left;"><h4>2018 GOAL</h4></div>   <div style="float:right;"><h4 style="color:#003057;">$255,000,000/$510,000,000 </h4></div>
    	 </div>


    </div>
    </div>
    </section>

<section id="leadingNumbers" class="graygradient" style="">
  <div  class="container "  >
<div class="row" >

       <div class="col-md-12 col-lg-4" >
         <img src="../assets/img/leaderboard/1st_place.png">
       </div >

    <div class=" col-md-12 col-lg-8" >
      <img src="../assets/img/leaderboard/2nd-5th_place.png">
   </div>


</div>
</div>
</section>



<section id="AElist" class="" style="">

<div class="container datatable">
<div class="row col-sm-12"> One</div>
<div class="row col-sm-12">Two</div>
<div class="row col-sm-12">Three</div>
<div class="row col-sm-12">Four</div>
<div class="row col-sm-12">Five</div>
</div>

</section>

<section id="homepageCornerLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<div class="copyright"><p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>
 <div class="toTop"><span class="" {{action "scrollToTop"}}>Return to Top <img src="../assets/img/leaderboard/return_top.svg" /></span></div>

</section>

</div>
<!--  END WRAPPER  -->
</div>
