
<div id="wrapper" >
  <div id="contentHome" class="" >
    <section id="header">
      <div class="userNameTop">Welcome, Jane</div>
          <img class="l_FirstLook" src="/assets/img/L_FirstLook.png" >
    </section>



<section id="welcome" style=" min-height:calc(100vh - 130px ) !important;   background-image: url('/assets/img/rules.jpg');">

  <div  class="container fadein"  style="" >

<h1 class="" style="">RULES</h1>


<div id="rules" style="margin-bottom:120px;  " >
<p>1) Award Winners will be notified as soon as administratively possible after the conclusion of the incentive.</p>
<p>2) Employees must be employed as of January 1, 2018 to participate in the incentive.	</p>
<p>3) Employees must be in good standing with no written warning within the previous 6 months and employed with Charter at the time of payout.</p>
<p>4) In case of a tie, the person with the highest budget would be awarded the prize.</p>
<p>5) Job Shares awarded a prize would split the award.</p>
<p>6) Each Non-Cash award and Vendor awards $50 and over will be considered taxable income to the employee and needs to be grossed up by 66%.  The value of the award, including gross-up amount, will be seen on the pay stub.</p>
<p>7) Cash awards are not grossed up by the company.</p>
<p>8) Charter retains the right to make adjustments to this program at any time, including substituting awards of similar value.</p>

</div>

</div>


<div id="spacer" class="spacer20">
  <p>&nbsp;</p>
</div>

</section>



<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<div class="copyright"><p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>
 <div class="toTop"><span class="" {{action "scrollToTop"}}><span style="color:#ffffff;">Return to Top</span> <img src="/assets/img/leaderboard/return_top.svg" /></span></div>

</section>

</div>
<!--  END WRAPPER  -->
</div>
