
<div id="wrapper" >
  <div id="contentHome" class="" >
    <section id="header">
    {{#if model}}  <div class="userNameTop">Welcome, {{ currentUser.pid.firstname }}  <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"></div>{{/if}}
      {{#link-to 'firstlook.leaderboard.elite-ae15m' replace="true"}}<img class="l_FirstLook" src="/assets/img/L_FirstLook.png" >{{/link-to}}
    </section>



<section id="welcome" style=" min-height:calc(100vh - 130px ) !important;   background-image: url('/assets/img/rules01.jpg');">

  <div  class="container fadein"  style="" >

<h1 class="" style="">RULES</h1>


<div id="rules" style="margin-bottom:120px;  " >
<p><img src="/assets/img/rules/01_bullet.svg" style="width:26px; height:25px; margin:0;"/>&nbsp;&nbsp;Award Winners will be notified as soon as administratively possible after the conclusion of the incentive.</p>
<p><img src="/assets/img/rules/02_bullet.svg" style="width:26px; height:25px; margin:0;"/>&nbsp;&nbsp;Employees must be employed as of January 1, 2018 to participate in the incentive.	</p>
<p><img src="/assets/img/rules/03_bullet.svg" style="width:26px; height:25px; margin:0;"/>&nbsp;&nbsp;Employees must be in good standing with no written warning within the previous 6 months and employed with Charter at the time of payout.</p>
<p><img src="/assets/img/rules/04_bullet.svg" style="width:26px; height:25px; margin:0;"/>&nbsp;&nbsp;In case of a tie, the person with the highest budget would be awarded the prize.</p>
<p><img src="/assets/img/rules/05_bullet.svg" style="width:26px; height:25px; margin:0;"/>&nbsp;&nbsp;Job Shares awarded a prize would split the award.</p>
<p><img src="/assets/img/rules/06_bullet.svg" style="width:26px; height:25px; margin:0;"/>&nbsp;&nbsp;Each Non-Cash award and Vendor awards $50 and over will be considered taxable income to the employee and needs to be grossed up by 66%.  The value of the award, including gross-up amount, will be seen on the pay stub.</p>
<p><img src="/assets/img/rules/07_bullet.svg" style="width:26px; height:25px; margin:0;"/>&nbsp;&nbsp;Cash awards are not grossed up by the company.</p>
<p><img src="/assets/img/rules/08_bullet.svg" style="width:26px; height:25px; margin:0;"/>&nbsp;&nbsp;Charter retains the right to make adjustments to this program at any time, including substituting awards of similar value.</p>

</div>

</div>


<div id="spacer" class="spacer20">
  <p>&nbsp;</p>
</div>

</section>



<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<div class="copyright"><p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>
 <div class="toTop"><span class="" {{action "scrollToTop"}}><span style="color:#ffffff;">Return to Top</span> <img src="/assets/img/leaderboard/return_top.svg" /></span></div>

</section>

</div>
<!--  END WRAPPER  -->
</div>
