
<h2 style="color: white;" >Update Password</h2><br />
<!-- <h3 style="color: white; text-align: center; margin: auto; float: none;">EDIT PROFILE</h3> -->
<div class="detail">
  <div class="detail-card">
    <!-- <div class="detail-card__title">Edit Details</div> -->
    {{#simple-form class="card__form" startingValues=model onsubmit=(action "updateForm") as | formValues |}}

      {{input class="form__input" type="password" required=true id="password"
      value=formValues.password placeholder="New Password"}}<br />

        <button type="submit" class="btn" style="background: #002039;">Update Password</button><br />
        {{#link-to "profile.details" currentUser.pid.id class="btn darkbutton"}}Back{{/link-to}}
    {{/simple-form}}
  </div>
</div>
