<!-- note: this page is redirected to firstlook.index in the route.js file  -->

<div id="wrapper">
  <div id="content" style="">
    <h1 style="padding-top:90px;">Spectrum Reach Incentives</h1>

{{#link-to 'firstlook.index' class="button"}}
    FirstLook
  {{/link-to}}


</div>
</div>
