<div id="wrapper">
  <div id="contentReg" >
    <section id="header">
          <img class="l_FirstLook" src="/assets/img/L_FirstLook.png">
    </section>

<section id="title">
  <h3>Registration Complete</h3>
</section >


<section id="profile" style="">

<div id="thanks" >
  <h2>Thank you<br>for your participation!</h2>
  <hr>
  <!-- <p style="font-size:20px; font-weight:400;">A confirmation has been sent to your email&nbsp;address.</p> -->
  <!-- <p style="text-align: justify;">If you do not receive a confirmation email, please check your spam, bulk, or junk mail folders. If you find the email there, it was diverted by your ISP, your spam-blocking software or by filters. -->
  <p style="font-size:20px; font-weight:400;">We are looking forward to a successful 2018.</p>
  <p style="text-align: center;">Come back in January to see where you stand based on your First Look sales efforts.
</p>
<hr>
</div>
<div style="margin-top:10px;"></div>
  <h3>Have a First Look question?</h3>
<div class="Reg_btn" style="margin-top:0px; ">
<a class="button" href="mailTo:michelle.underwood@charter.com">Contact Us</a>


</div>
</section>
<section id="nav-wrapper">
  <!-- <div id="nav">
    <img class="navLeft" src="/assets/img/Nav_Left.svg" ><img class="navRight" src="/assets/img/Nav_Right_End.svg">
</div> -->
<div id="line" class="" >

      <svg id="cir4" class="four" height="30" width="30" >
        <circle cx="15" cy="15" r="15" stroke="#0099D8" stroke-width="1" fill="white" />
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">4</text>
      </svg>
 </div >
</section>



<section id="bottomLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
