<div id="wrapper">
  <div id="contentReg" >
    <section id="header">
          <img class="l_FirstLook" src="/assets/img/L_FirstLook.png">
    </section>

<section id="title">
  <h3>Registration Complete</h3>
</section >


<section id="profile" style="padding: 5px 0;">

<div id="thanks" >
  <h2>Thanks for participating!</h2>
  <hr>
  <!-- <p style="font-size:20px; font-weight:400;">A confirmation has been sent to your email&nbsp;address.</p> -->
  <!-- <p style="text-align: justify;">If you do not receive a confirmation email, please check your spam, bulk, or junk mail folders. If you find the email there, it was diverted by your ISP, your spam-blocking software or by filters. -->
  <p style="font-size:20px; font-weight:400;">Get ready for our biggest year yet.</p>
  <p style="text-align: center;">
</p>
<hr>
</div>
<div style="margin-top:2rem;"></div>
  <h3>Oh, you thought you were done?</h3>
  <h3>Not yet. Please add a profile image using the link below.</h3>
<div class="Reg_btn" style="margin-top:5rem; ">
<a class="button" href="https://spectrumreach.typeform.com/to/zdQZSe" target="_blank">Add Image</a>


</div>
</section>
<section id="nav-wrapper">
  <!-- <div id="nav">
    <img class="navLeft" src="/assets/img/Nav_Left.svg" ><img class="navRight" src="/assets/img/Nav_Right_End.svg">
</div> -->
<!-- <div id="line" class="" >

      <svg id="cir4" class="four" height="30" width="30" >
        <circle cx="15" cy="15" r="15" stroke="#0099D8" stroke-width="1" fill="white" />
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">4</text>
      </svg>
 </div > -->
</section>



<section id="bottomLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
