<div id="wrapper-rnh">
 <div id="contentHome" class="" >
  <section id="header">

   <div class="userNameTop">Welcome, {{ currentUser.pid.firstname}}  <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"></div>
   <div ><img class="srilogo" src="/assets/img/rnh/sri_logo.svg" > </div>
   <!-- <div> <div class="logoText" >Spectrum Reach Incentives</div></div> -->
  </section>

<section id="altNav" >
  <div class="container  " >
    <ul>
        <li><a href="/launchpad">Launchpad</a></li>
        <li><a href="/reachnewheights/dashboard">Standings</a></li>
        <li ><a href="/reachnewheights/overview">Overview</a></li>
        <li class="active">FAQ</li>
    </ul>
  </div>
  </section>


  <section id="rnh-ovTitle" class="bgcolor-gray" style="padding:60px 0;" >
    <div  class="container "  >
          <h4>We are excited to introduce</h4>
          <div><img class="logo_rnh " src="/assets/img/rnh/NewBizLogo-Revised-02.svg" ></div>
    </div>


  </section>

  <div class="divider-rnh"></div>


<section id="welcome" style=" min-height:calc(100vh - 130px ) !important;   background-image: url('/assets/img/rules01.jpg');">

  <div  class="container fadein"  style="" >

<h1 class="" style="">FAQs</h1>


<div id="rules" style="margin-bottom:120px; text-align:left;  " >
<h3>Question 1</h3>
<p>Answer 1 here.</p>

</div>

</div>


<div id="spacer" class="spacer20">
  <p>&nbsp;</p>
</div>

</section>

<section id="altNav" >
  <div class="container  " >
    <ul>
        <li><a href="/launchpad">Launchpad</a></li>
        <li><a href="/reachnewheights/dashboard">Standings</a></li>
        <li ><a href="/reachnewheights/overview">Overview</a></li>
        <li class="active">FAQ</li>
    </ul>
  </div>
  </section>


  <div class="spacer10 bgcolor-gray" style="margin:0 !important; height:26vmin; ">&nbsp;&nbsp;</div>

  <section id="homepageCornerLogo" style="">
    <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
  </section>

  <section id="rnh-stickyFooter" class="bgcolor-gray">
  <div class="rnh-copyright"><p style="">Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>

  </section>
</div>
</div>

{{outlet}}
