<!-- source: https://www.npmjs.com/package/ember-side-menu -->
<!-- Note: removed header and other items that were already commented out. Was still working -->
{{#if currentUser.pid}}
 {{#side-menu-toggle id="menuToggle"}}

<span id="burger" class="" style="">
  <!-- <span style="font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
    padding-left: 1px;">MENU</span>
  -->
  <img src="/assets/img/homepage/hamburger-menu.png" alt="menu"/></span>
{{/side-menu-toggle}}


{{#side-menu width="300px" side="right" id="menuRight"}}

{{#side-menu-toggle id=""}}<div style="float:left; width:24px; ">x</div>{{/side-menu-toggle}}
  <ul class="nav">
    <li>
      {{#side-menu-link-to "launchpad"}}<span >Launch Pad</span>{{/side-menu-link-to}}
    </li>
    <li>
      <a href="/firstlook/leaderboard/elite-ae15m">
      <span>First Look</span>
        </a>
    </li>
    <li>
      {{#side-menu-link-to "reachnewheights.dashboard"}}<span>Reach New Heights</span>{{/side-menu-link-to}}
    </li>


    <li class="border-top" style="margin-top:100px;">
      <a href="https://spectrumreach.typeform.com/to/zdQZSe" target="_blank">
        <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"> <span>Manage Profile</span>
      </a>
    </li>
    {{#link-to 'firstlook.logout' class=" " replace="true"}}
    <li class="signOut" style=" ">
      SIGN OUT
    </li>
    {{/link-to}}

  </ul>
{{/side-menu}}
{{/if}}
{{content-backdrop}}
{{outlet}}
