<!-- source: https://www.npmjs.com/package/ember-side-menu -->
<!-- Note: removed header and other items that were already commented out. Was still working -->

{{#side-menu-toggle id="menuToggle"}}
<span id="burger" class="hide" style=""><img src="/assets/img/homepage/hamburger.svg" /></span>
{{/side-menu-toggle}}

{{#side-menu width="220px" side="right" id="menuRight"}}

  <ul class="nav">
    <li>
      {{#side-menu-link-to "firstlook.homepage"}}
        <img src="/assets/img/homepage/iconOverview.svg" /> <span >OVERVIEW</span>
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "firstlook.leaderboard.elite-ae15m"}}
        <img src="/assets/img/homepage/iconStandings.svg" /> <span>STANDINGS</span>
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "firstlook.rules"}}
        <img src="/assets/img/homepage/iconRules.svg" /> <span>RULES</span>
      {{/side-menu-link-to}}
    </li>

    <li>
      {{#side-menu-link-to "firstlook.faqs"}}
        <img src="/assets/img/homepage/iconFaq.svg" /> <span>FAQS</span>
      {{/side-menu-link-to}}
    </li>

    <li class="border-top">
      {{#side-menu-link-to "firstlook.register-conf"}}
        <img src="/assets/img/homepage/iconNav_generic_thumb.svg" /> <span>ACCOUNT</span>
      {{/side-menu-link-to}}
    </li>

    <li class="" style="
    border: 1px solid white;
    padding: 8px 27px;
    font-size: 14px; ">
      {{#link-to 'firstlook.logout' class=" " replace="true"}}
      SIGN OUT
      <!-- <img src="/assets/img/homepage/signout.svg" style="width:100%; height:auto;" /> -->
      {{/link-to}}
    </li>

  </ul>
{{/side-menu}}
{{content-backdrop}}
{{outlet}}
