<!-- source: https://www.npmjs.com/package/ember-side-menu -->
<!-- Note: removed header and other items that were already commented out. Was still working -->

{{#side-menu-toggle id="menuToggle"}}
      <!-- <span class="fa fa-bars fa-2x" style="padding-top:1.2rem;"></span> -->
      <span class="" style="padding-top:1.3rem;"><img src="../assets/img/homepage/hamburger.svg" /></span>
{{/side-menu-toggle}}

{{#side-menu width="220px" side="right" id="menuRight"}}

  <ul class="nav">
    <li>
      {{#side-menu-link-to "firstlook.homepage"}}
        <img src="../assets/img/homepage/iconOverview.svg" /> <span>OVERVIEW</span>
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "firstlook.leaderboard"}}
        <img src="../assets/img/homepage/iconStandings.svg" /> <span>STANDINGS</span>
      {{/side-menu-link-to}}
    </li>
    <li>
      {{#side-menu-link-to "firstlook.rules"}}
        <img src="../assets/img/homepage/iconRules.svg" /> <span>RULES</span>
      {{/side-menu-link-to}}
    </li>

    <li>
      {{#side-menu-link-to "firstlook.faqs"}}
        <img src="../assets/img/homepage/iconFaq.svg" /> <span>FAQS</span>
      {{/side-menu-link-to}}
    </li>

    <li class="border-top">
      {{#side-menu-link-to "firstlook.register-conf"}}
        <img src="../assets/img/homepage/iconNav_generic_thumb.svg" /> <span>ACCOUNT</span>
      {{/side-menu-link-to}}
    </li>

    <li class="logoutBtn">
      {{#link-to 'firstlook.logout' class="button " replace="true"}}
      <img src="../assets/img/homepage/signout.svg" /> <span>ACCOUNT</span>
      {{/link-to}}
    </li>

  </ul>
{{/side-menu}}
{{content-backdrop}}
{{outlet}}
