<!-- source: https://www.npmjs.com/package/ember-side-menu -->
<!-- Note: removed header and other items that were already commented out. Was still working -->
{{#if currentUser.pid}}
 {{#side-menu-toggle id="menuToggle"}}

<span id="burger" class="" style="">
  <!-- <span style="font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
    padding-left: 1px;">MENU</span>
  -->
  <img src="/assets/img/homepage/hamburger-menu.png" alt="menu"/></span>
{{/side-menu-toggle}}

{{#side-menu width="220px" side="right" id="menuRight"}}

  <ul class="nav">
    <li>
      {{#side-menu-link-to "launchpad"}}
        <img src="/assets/img/homepage/iconOverview.svg" /> <span >LAUNCHPAD</span>
      {{/side-menu-link-to}}
    </li>
    <li>
      <a href="/firstlook/leaderboard/elite-ae15m">
        <img src="/assets/img/homepage/iconStandings.svg" /> <span>FIRSTLOOK STANDINGS</span>
        </a>
    </li>
    <li>
      {{#side-menu-link-to "reachnewheights.overview"}}
        <img src="/assets/img/homepage/iconRules.svg" /> <span>REACH NEW HEIGHTS</span>
      {{/side-menu-link-to}}
    </li>

    <!-- <li>
      {{#side-menu-link-to "firstlook.faqs"}}
        <img src="/assets/img/homepage/iconFaq.svg" /> <span>FAQS</span>
      {{/side-menu-link-to}}
    </li> -->
    <li class="border-top">
      <a href="https://spectrumreach.typeform.com/to/zdQZSe" target="_blank">
        <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"> <span>ACCOUNT</span>
      </a>
    </li>
    {{#link-to 'firstlook.logout' class=" " replace="true"}}
    <li class="" style="
    border: 1px solid white;
    padding: 8px 27px;
    font-size: 14px; ">
      SIGN OUT
      <!-- <img src="/assets/img/homepage/signout.svg" style="width:100%; height:auto;" /> -->

    </li>
      {{/link-to}}

  </ul>
{{/side-menu}}
{{/if}}
{{content-backdrop}}
{{outlet}}
