<div id="wrapper">
  <div id="content" >
<section id="header">
      <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
</section>


<section id="formHolder" style="margin-top:15vh;">
<form onsubmit={{action "save"}}>
  {{input value=wizard.userInfo.pid placeholder="P•XXXXXXX"}}<br>
</form>
</section>
<div class="Reg_btn" style="margin-top:40px;">
  {{#link-to 'firstlook.register-name' class="SR_btn" name="button"}}Register Here{{/link-to}}
</div>

 <!-- <div class="SR_btn">
{{#link-to 'firstlook.register-name' class="button"}}
    Register Here
  {{/link-to}}
</div> -->
<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
