<div id="wrapper">
  <div id="content" class="AnimCorner" >
<section id="header">
      <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
</section>

<h2>IT’S TIME TO COMPETE!</h2>
<p style="padding-left: 30px; padding-right: 30px;">Registration is required to compete in the FirstLook Sales Incentive.  Sign up here</p>


<section id="formHolder" class="fadein" style="">
  <!-- <p>Please enter your Employee ID (EID/PID/PSID).</p> -->
<form onsubmit={{action "save"}}>
  {{input value=wizard.userInfo.pid placeholder="Enter your (EID/PID/PSID)"}}<br>
</form>
</section>


  {{#link-to 'firstlook.register-name' name="button"}}
<div class="Reg_btn"  class="fadein" style="width: 280px; ">
Register
</div>
{{/link-to}}

 <!-- <div class="SR_btn">
{{#link-to 'firstlook.register-name' class="Reg_btn"}}
    Register Here
  {{/link-to}}
</div> -->
<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
