<div id="wrapper">
  <div id="content" >
<section id="header">
      <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
</section>

<section id="formHolder" style="margin-top:15vh;">
  <form action="" autocomplete="on" >
    <input type="text" placeholder="P•XXXXXXX" name="pid" /><br>
    <input type="button" class="SR_btn" name="submit" value="Register Here" >
  </form>
</section>

{{#link-to 'firstlook.register-name' class="button"}}
    Next page for testing: name
  {{/link-to}}

<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
