<div id="wrapper-rnh">
 <div id="contentHome" class="" >
  <section id="header">

   <div class="userNameTop">Welcome, {{ currentUser.pid.firstname}}  <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"></div>
   <div ><img class="srilogo" src="/assets/img/rnh/sri_logo.svg" > </div>
   <!-- <div> <div class="logoText" >Spectrum Reach Incentives</div></div> -->
  </section>

<section id="altNav"  >
  <div class="container  "  >
    <ul>
        <li><a href="/launchpad">Launchpad</a></li>
        <li><a href="/reachnewheights/dashboard">Standings</a></li>
        <li class="active">Overview</li>
        <!-- <li><a href="/reachnewheights/faqs">FAQ</a></li> -->
    </ul>
  </div>
  </section>




<section id="rnh-ovTitle" class="bgcolor-gray" style="padding:60px 0; position:relative;" >
  <div  class="container "  style="text-align:left; ">
        <h4 style="text-align:left; color:#fff; padding:12px 0;">We are excited to introduce</h4>
        <!-- <div><img class="logo_rnh " src="/assets/img/rnh/NewBizLogo-Revised-02.svg" ></div> -->
        <div><img class="logo_rnh " src="/assets/img/rnh/rnh_long_logo.svg" ></div>
  </div>
  <div  class="container subTitle"  style=" ">
        <h1 style="text-align:left; color:#fff; ">GET PAID FOR BRINGING<br />IN NEW BUSINESS</h1>
  </div>

</section>

<div class="divider-rnh"></div>


<section id="specifics">
  <div  class="container fadein"  >

      <h1 style="text-align:left;"> THE SPECIFICS </h1>
      <h2 class="quote">&ldquo;We all win when we exceed our yearly targets.&rdquo;</h2>

    <div class="row">
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_focus.png" ></div>
      <div class="col-md-8" style="text-align:left;" ><h2>A FOCUS ON NEW BUSINESS IS A FOCUS ON ACTIVITY AND ACQUISITION</h2>
      <p>A big part of exceeding in 2018 will be getting deeper penetration with business spending dollars in our markets. With a larger business list, we have an increased opportunity to drive our key metrics, share shift, digital, new product launches, in the back half of the year.</p></div>
    </div>

    <div class="row">
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_window.png" ></div>
      <div class="col-md-8" style="text-align:left;"><h2>A FOCUS ON NEW BUSINESS IS A FOCUS ON ACTIVITY AND ACQUISITION</h2>
      <p>A big part of exceeding in 2018 will be getting deeper penetration with business spending dollars in our markets. With a larger business list, we have an increased opportunity to drive our key metrics, share shift, digital, new product launches, in the back half of the year.</p></div>
    </div>

    <div class="row">
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_qualify.png" ></div>
      <div class="col-md-8" style="text-align:left;"><h2>A FOCUS ON NEW BUSINESS IS A FOCUS ON ACTIVITY AND ACQUISITION</h2>
      <p>A big part of exceeding in 2018 will be getting deeper penetration with business spending dollars in our markets. With a larger business list, we have an increased opportunity to drive our key metrics, share shift, digital, new product launches, in the back half of the year.</p></div>
    </div>

    <div class="row">
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_process.png" ></div>
      <div class="col-md-8" style="text-align:left;"><h2>A FOCUS ON NEW BUSINESS IS A FOCUS ON ACTIVITY AND ACQUISITION</h2>
      <p>A big part of exceeding in 2018 will be getting deeper penetration with business spending dollars in our markets. With a larger business list, we have an increased opportunity to drive our key metrics, share shift, digital, new product launches, in the back half of the year.</p></div>
    </div>

    <div class="row">
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_know.png" ></div>
      <div class="col-md-8" style="text-align:left;"><h2>A FOCUS ON NEW BUSINESS IS A FOCUS ON ACTIVITY AND ACQUISITION</h2>
      <p>A big part of exceeding in 2018 will be getting deeper penetration with business spending dollars in our markets. With a larger business list, we have an increased opportunity to drive our key metrics, share shift, digital, new product launches, in the back half of the year.</p></div>
    </div>


</div>
</section>

<div class="divider-rnh"></div>

<section id="win" class="bgcolor-gray">
  <div  class="container fadein"  >

      <h1 style="text-align:left; color:#fff;"> IT'S EASY TO WIN </h1>

    <div class="row">
      <div class="col-sm-4 col-md-2" ><img class="icon " src="/assets/img/rnh/overview/rnh_individual.png" ></div>
      <div class="col-sm-8 col-md-4" style="text-align:left;"><h2>WIN AS AN INDIVIDUAL</h2>
      <p>AEs sign their goal during the incentive window - $1000</p></div>
      <div class="col-sm-4 col-md-2" ><img class="icon " src="/assets/img/rnh/overview/rnh_team.png" ></div>
      <div class="col-sm-8 col-md-4" style="text-align:left;"><h2>WIN AS AN TEAM</h2>
      <p>Team of AEs deliver combined number, each AE gets - $250</p></div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-2" ><img class="icon " src="/assets/img/rnh/overview/rnh_manager-pay.png" ></div>
      <div class="col-sm-8 col-md-4" style="text-align:left;"><h2>MANAGER PAYOUTS</h2>
      <p>LSM Team delivers - $750<br>
        DOS/GSM Team delivers - $500</p></div>
      <div class="col-sm-4 col-md-2" ><img class="icon " src="/assets/img/rnh/overview/rnh_new-biz.png" ></div>
      <div class="col-sm-8 col-md-4" style="text-align:left;"><h2>NEW BUSINESS GOALS</h2>
        <p>(to be signed in incentive window)<br>
          <br>$30,000/AE - DMAs 1-25
          <br>$20,000/AE - DMAs 26-75
          <br>$10,000/AE - DMAs 76+
        </p></div>
    </div>


</div>
</section>

<div class="divider-rnh"></div>

<section id="goodword" class="">
  <div  class="container fadein"  >

    <h1 style="text-align:left; padding:18px 0;">A GOOD WORD </h1>

  <div class="row">
    <div class="col-sm-6 col-lg-3" ><img class="icon " src="/assets/img/rnh/overview/lindsey_card.jpg" ></div>
    <div class="col-sm-6 col-lg-3" ><img class="icon " src="/assets/img/rnh/overview/obrien_card.jpg" ></div>
    <div class="col-sm-6 col-lg-3" ><img class="icon " src="/assets/img/rnh/overview/jacobs_card.jpg" ></div>
    <div class="col-sm-6 col-lg-3" ><img class="icon " src="/assets/img/rnh/overview/plummer_card.jpg" ></div>

    <h2 class="quote" >&ldquo;Either you run with the day, or the day runs you.&rdquo;</h2>
  </div>
  </div>
  </section>

  <section id="altNav" >
    <div class="container  " >
      <ul>
          <li><a href="/launchpad">Launchpad</a></li>
          <li><a href="/reachnewheights/dashboard">Standings</a></li>
          <li class="active">Overview</li>
          <!-- <li><a href="/reachnewheights/faqs">FAQ</a></li> -->
          <div class="toTop"><span class="" {{action "scrollToTop"}}><span style="color:#fff;">Top</span> <img src="/assets/img/leaderboard/return_top.svg" /></span></div>

      </ul>
    </div>
    </section>


  <div class="spacer10 bgcolor-gray" style="margin:0 !important; height:24vmin; ">&nbsp;&nbsp;</div>

<!-- <section id="homepageCornerLogo" style=" margin-bottom:-50px; z-index:10000; border-bottom:1px solid red;">

  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section> -->

<section id="rnh-stickyFooter" class="" style="">
<div class="rnh-copyright"><p >Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>


<div id="homepageCornerLogo" style="  ">

  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</div>


</section>
</div>
</div>

{{outlet}}
