<div id="wrapper-rnh">
 <div id="contentHome" class="" >
  <section id="header">

   <div class="userNameTop">Welcome, {{ currentUser.pid.firstname}}  <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"></div>
   <div ><a href="/launchpad"><img class="srilogo" src="/assets/img/rnh/sri_logo.svg" style="max-width: 16rem;"></a> </div>
   <!-- <div> <div class="logoText" >Spectrum Reach Incentives</div></div> -->
  </section>

<section id="altNav"  >
  <div class="  " style="padding-left:24px;"  >
    <ul>
        <!-- <li><a href="/launchpad">Launchpad</a></li> -->
        <li class="active">Overview</li>
        {{#if currentUser.pid.isAdmin}}
        <li><a href="/reachnewheights/dashboard">Standings</a></li>
        {{/if}}
        <!-- <li><a href="/reachnewheights/faqs">FAQ</a></li> -->
        {{#if currentUser.pid.isAdmin}}
          <li><a href="/reachnewheights/admin">Admin</a></li>
        {{/if}}
    </ul>
  </div>
  </section>




<section id="rnh-ovTitle" class="bgcolor-gray" style="position:relative;" >
  <div  class="container "  style="text-align:left;  ">
        <h2 style="text-align:left; color:#fff; ">We are excited to introduce</h2>
        <!-- <div><img class="logo_rnh " src="/assets/img/rnh/NewBizLogo-Revised-02.svg" ></div> -->
        <div ><img class="logo_rnh " src="/assets/img/rnh/rnh_long_logo.svg" ></div>
  </div>
  <div  class="container subTitle"  style=" ">
        <h1 style="text-align:left; color:#fff; ">GET PAID FOR BRINGING<br />IN NEW BUSINESS</h1>
  </div>

</section>

<div class="divider-rnh"></div>

<section id="" class="bgcolor-gray" style="position:relative;" >
<div  class="container "  style=""  >
<div class="row" >

  <div class="col-xs-12 col-md-2 bowen hideUnder767 " >
  <div >
    <img src="/assets/img/homepage/dt_bowenkeith.png" style="  border:3px solid #003057; border-radius: 50%;" align="left">
  </div>
</div>
  <div class="col-xs-12 col-md-10 " >
      <h2 style="color:#fff; text-align:left;" ><span class="quote">&ldquo;This is what a sales-driven company is all about,</span><br>
      new business is always the focus of our success. This incentive puts our attention exactly where it needs to be and rewards individuals who get it done.<span class="quote" > Good Luck!&rdquo;</span></h2>
        <h3 class=" bowenName" style="text-align:right; padding-right:30px;">Keith Bowen </h3>
        <h3 class="bowenTitle" style="text-align:right; padding-right:30px;">SVP, Chief Revenue&nbsp;Officer</h3>
   </div>

</div>
</div>
</section>

<div class="divider-rnh"></div>


<section id="specifics">
  <div  class="container fadein"  >

      <h1 style="text-align:left; margin:10px 0;"> THE SPECIFICS </h1>
      <h2 class="quote">&ldquo;We all win when we exceed our&nbsp;yearly&nbsp;targets.&rdquo;</h2>

    <div class="row">
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_focus.png" ></div>
      <div class="col-md-8" style="text-align:left;" ><h2>A FOCUS ON NEW BUSINESS IS A FOCUS ON ACTIVITY AND ACQUISITION</h2>
      <p>A big part of exceeding in 2018 will be getting deeper penetration with business spending dollars in our markets. With a larger business list, we have an increased opportunity to drive our key metrics, share shift, digital, new product launches, in the back half of the year.</p></div>
    </div>

    <div class="row" >
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_window.png" ></div>
      <div class="col-md-8 " style="text-align:left;  ">
        <p class="hideUnder767" style="line-height:4px;">&nbsp;</p>
        <h2>INCENTIVE TIMELINE</h2>
      <p>Monday, 3/26 thru Friday, 6/29</p></div>
    </div>

    <div class="row">
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_qualify.png" ></div>
      <div class="col-md-8" style="text-align:left;"><h2>NEW BUSINESS CONTRACT QUALIFICATION</h2>
        <p>In order to qualify as new business, they must not have been on-air in last 13 months and the contract must be signed inside incentive window.</p></div>
    </div>

    <div class="row">
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_process.png" ></div>
      <div class="col-md-8" style="text-align:left;">
        <p class="hideUnder767" style="line-height:1px;">&nbsp;</p>
        <h2>PROCESS</h2>
        <p>Submit qualifying contracts to your LSM. Once the LSM verifies, they will forward to appointed finance lead for tracking. Tracking by DOS, LSM and AEs will be weekly via incentive site, emails and Pulse.</p></div>
    </div>

    <div class="row">
      <div class="col-md-4" ><img class="icon " src="/assets/img/rnh/overview/rnh_know.png" ></div>
      <div class="col-md-8" style="text-align:left;"><h2>DETAILS TO KNOW</h2>
        <p><ul>
          <li>Teams consist of AEs reporting into LSM.</li>
          <li>Achieving  the team goal is based on exceeding total combined number, regardless of whether each AE delivers their target goal.</li>
          <li>AEs missing their target are still qualified for the team payout.</li>
          <li>Incentive payout will be on nearest pay date at the end of the incentive once totals are verified by 	finance (approx. July 2018).</li>
        </ul></p></div>
    </div>


</div>
</section>

<div class="divider-rnh"></div>

<section id="win" class="bgcolor-gray">
  <div  class="container fadein"  >

      <h1 style="text-align:left; color:#fff; margin:10px 0;"> IT'S EASY TO WIN </h1>

    <div class="row">
      <div class="col-sm-4 col-md-2" ><img class="icon " src="/assets/img/rnh/overview/rnh_individual.png" ></div>
      <div class="col-sm-8 col-md-4" style="text-align:left;">
        <p class="hideUnder992" style="line-height:18px;">&nbsp;</p>
        <h2>WIN AS AN INDIVIDUAL</h2>
      <h3 class="fontGray">AEs sign their goal during the incentive&nbsp;window&nbsp;-&nbsp;<span class="h5">$1000</span></h3></div>
      <div class="col-sm-4 col-md-2" ><img class="icon " src="/assets/img/rnh/overview/rnh_team.png" ></div>
      <div class="col-sm-8 col-md-4" style="text-align:left;">
        <p class="hideUnder992" style="line-height:18px;">&nbsp;</p>
        <h2>WIN AS A TEAM</h2>
        <h3 class="fontGray">Team of AEs deliver combined number, each&nbsp;AE&nbsp;gets&nbsp;-&nbsp;<span class="h5">$250</span></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 col-md-2" >
        <p class="hideUnder767" style="line-height:20px;">&nbsp;</p>
        <img class="icon " src="/assets/img/rnh/overview/rnh_manager-pay.png" ></div>
      <div class="col-sm-8 col-md-4" style="text-align:left;">
        <p class="hideUnder767" style="line-height:20px;">&nbsp;</p>
        <h2>MANAGER PAYOUTS</h2>
        <h3 class="fontGray">LSM Team delivers - <span class="h5">$750</span><br>DOS/GSM Team delivers - <span class="h5">$500</span></h3>
      </div>
      <div class="col-sm-4 col-md-2" >
        <p class="hideUnder767" style="line-height:20px;">&nbsp;</p>
        <img class="icon " src="/assets/img/rnh/overview/rnh_new-biz.png" ></div>
      <div class="col-sm-8 col-md-4" style="text-align:left;">
        <p class="hideUnder767" style="line-height:20px;">&nbsp;</p>
        <h2>NEW BUSINESS GOALS<sup>*</sup></h2>
        <h3 class="fontGray">$30,000/AE - DMAs 1-25<br>
          $20,000/AE - DMAs 26-75<br>
          $10,000/AE - DMAs 76+</h3>
      <h6><sup>*</sup>to be signed in incentive window</h6>
    </div>
    </div>


</div>
</section>

<div class="divider-rnh"></div>

<section id="goodword" class="">
  <div  class="container fadein"  >

    <h1 style="text-align:left; ">A GOOD WORD </h1>

  <div class="row">
    <div class="col-sm-6 col-lg-3" ><img class="icon " src="/assets/img/rnh/overview/lindsey_card.jpg" ></div>
    <div class="col-sm-6 col-lg-3" ><img class="icon " src="/assets/img/rnh/overview/obrien_card.jpg" ></div>
    <div class="col-sm-6 col-lg-3" ><img class="icon " src="/assets/img/rnh/overview/jacobs_card.jpg" ></div>
    <div class="col-sm-6 col-lg-3" ><img class="icon " src="/assets/img/rnh/overview/plummer_card.jpg" ></div>
    <div style=" text-align:center;margin:24px auto;"><h2 class="quote" >&ldquo;Either you run with the day, or&nbsp;the&nbsp;day&nbsp;runs&nbsp;you.&rdquo;</h2></div>
</div>
  </div>
  </section>




  <!-- <div class="spacer10 bgcolor-gray" style="margin:0 !important; height:24vmin; ">&nbsp;&nbsp;</div> -->

<!-- <section id="homepageCornerLogo" style=" margin-bottom:-50px; z-index:10000; border-bottom:1px solid red;">

  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section> -->

<section id="rnh-stickyFooter" class="" style="">
<div class="rnh-copyright"><p >Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>


<div id="homepageCornerLogo" style="  ">

  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</div>


</section>
</div>
</div>

{{outlet}}
