<div class="row" >
  <div class="col-lg-6"><h1>LEADERBOARD</h1></div>
  <div class="col-lg-6 eliteNav" style="">
    {{#link-to 'firstlook.leaderboard.elite-ae15m' replace="true"}}<img src="/assets/img/leaderboard/01_tab.png" />{{/link-to}}
    <img src="/assets/img/leaderboard/02_section.png" />
    {{#link-to 'firstlook.leaderboard.elite-ae700k' replace="true"}}<img src="/assets/img/leaderboard/03_tab.png" />{{/link-to}}
    {{#link-to 'firstlook.leaderboard.elite-ae450k' replace="true"}}<img src="/assets/img/leaderboard/04_tab.png" />{{/link-to}}
    {{#link-to 'firstlook.leaderboard.elite-ae400k' replace="true"}}<img src="/assets/img/leaderboard/05_tab.png" />{{/link-to}}


  </div>
</div>

<div class="row" >

<div class="col-md-12 col-lg-4" >
  <img src="/assets/img/leaderboard/1st_place.png">
</div >

<div class=" col-md-12 col-lg-8" >
<img src="/assets/img/leaderboard/2nd-5th_place.png">
</div>

</div>

{{outlet}}
