<div id="wrapper">
  <div id="content" class="AnimCorner">
<section id="header">
      <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
</section>

<section id="" class="Reg_btn fadein">

  {{#link-to 'firstlook.register-pid' class="  " replace="true"}}
      <span style="font-size:1.2rem;">Register <img src="../assets/img/Nav_Right_End.svg" style="position:relative; height:1.5rem; top:.25rem; "></span>
    {{/link-to}}

</section>

<section id="formHolder" class="fadein" style="margin-top:120px;">

  <p>Already registered?</p>



  <form action="" autocomplete="on">
    <input type="email" placeholder="Email" name="email" /><br>
    <input type="password" placeholder="Password" name="password"/><br>
     <!-- <label for="password">Forgot your password?</label><br>  -->
     <div class="Reg_btn fadein" >
     {{#link-to 'firstlook.register-conf' class="button " replace="true"}}
      Edit Profile
    {{/link-to}}
  </div>
</form>

</section>

<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
