<div id="wrapper">
  <div id="content" >
<section id="header">
      <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
</section>

<section id="formHolder">
  <form action="" autocomplete="on">
    <input type="email" placeholder="Email" name="email" /><br>
    <input type="password" placeholder="Password" name="password"/><br>
     <label for="password">Forgot your password?</label><br>
    <input type="button" class="SR_btn" name="submit" value="Enter" >
  </form>
</section>

<section id="new-reg">
  <p>Not yet registered?</p>

<div class="Reg_btn" {{action "setCurrentPid"}}>
  {{#link-to 'firstlook.register-pid' class="button" replace="true"}}
      Click Here
    {{/link-to}}
  </div>

</section>

<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
