<div id="wrapper" class="homepageWrapper">
  <div id="contentHome" class="" >
    <section id="header">
      <div class="userNameTop">Welcome, {{ currentUser.pid.firstname }}  <img style="border-radius: 50%;" src="{{currentUser.pid.fullProfilePicUrl}}" width="25"></div>
          <img class="l_FirstLook" src="/assets/img/L_FirstLook.png" >
    </section>


    <div id="" class="graygradient" style="min-height:calc(100vh - 130px ) !important;min-height:600px;">

<section id="profileSummary" style="text-align: center;">

        <h3>EDIT PROFILE</h3>
  


</section>
{{outlet}}
</div>

<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p>
</section>


</div>
</div>
