      <div  class="container fadein"  style="min-height:56vh; margin-top: 4rem;">


  <div class="row " style="">





    <!-- //////////////////////////////////////// -->
    <!-- This is for when RNH is Ready for Launch -->
    <!-- //////////////////////////////////////// -->
     <div class=" col-xs-12  col-lg-12 " style=" width:80%; height:auto; margin:auto;">

       <section id="profile" style="padding: 5px 0;">

       <div id="thanks" style="color: white;" >
         <h2 style="color: white;">Your New Password has now been updated.</h2>
         <hr>
         <!-- <p style="font-size:20px; font-weight:400;">A confirmation has been sent to your email&nbsp;address.</p> -->
         <!-- <p style="text-align: justify;">If you do not receive a confirmation email, please check your spam, bulk, or junk mail folders. If you find the email there, it was diverted by your ISP, your spam-blocking software or by filters. -->
         <p style="font-size:20px; font-weight:400; color: white;">Your<span style="font-weight: 800; font-size: 25px;"> NEW PASSWORD</span> will take affect once you sign out of your account.</p>
         <h3 style="color: white; text-align: center; float: none;">Thank you!</h3>
         {{#link-to "logout"  class="btn darkbutton"}}Logout{{/link-to}}
       <hr>
       </div>
       <div style="margin-top:2rem;"></div>

       </section>
    </div>


  </div>

  </div>
