<div id="wrapper">
  <div id="contentReg" >
    <section id="header">
          <img class="l_FirstLook" src="../assets/img/L_FirstLook.png">
    </section>

    <section id="title">
      <h3>Upload Profile Image</h3>
      {{#link-to 'firstlook.register-name' class="button" }}
      <p class="comment">Edit Info <img style="height:14px;" src="../assets/img/Nav_Right.svg"></p>
      {{/link-to}}
    </section >

  <section id="profile" style="">
    <p class="profileImg"><img src="../assets/img/profile_thumbnail.png"></p>
<div id="profileSummary" >
  <p><span class="userItem">Name: </span>Jane Smith</p>
  <p><span class="userItem">Email: </span>Jane.Smith@charter.com</p>
  <p><span class="userItem">Job Title: </span>Account Executive</p>
  <p><span class="userItem">Manager: </span>Robert johnson</p>
  <p><span class="userItem">City: </span>Los Angeles</p>
  <p><span class="userItem">Region: </span>Los Angeles</p>
  <p><span class="userItem">Division: </span> Pacific West</p>
</div>
<div class="Reg_btn" style="margin-top:40px; ">
  {{#link-to 'firstlook.register-thanks' class="button" }}
      Submit
    {{/link-to}}
  </div>
</section>



<section id="nav-wrapper">
  <div id="nav">
    {{#link-to 'firstlook.register-img' class="button" }}<img class="navLeft" src="../assets/img/Nav_Left.svg" >{{/link-to}}<img class="navRight" src="../assets/img/Nav_Right_End.svg">
</div>
<div id="line" class="" >

      <svg class="four" height="30" width="30" >
        <circle cx="15" cy="15" r="15" stroke="#0099D8" stroke-width="1" fill="white" />
        <text x="50%" y="50%" alignment-baseline="middle" text-anchor="middle">4</text>

      </svg>
 </div >
</section>

<section id="bottomLogo">
  <img src="../assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

</div>
</div>
