<div class="row" >
  <div class="col-lg-6"><h1>LEADERBOARD</h1></div>
  <div class="col-lg-6 eliteNav" style="">
    <img src="/assets/img/leaderboard/01_section.png" />
    {{#link-to 'firstlook.leaderboard.elite-ae1m' replace="true"}}<img src="/assets/img/leaderboard/02_tab.png" />{{/link-to}}
    {{#link-to 'firstlook.leaderboard.elite-ae700k' replace="true"}}<img src="/assets/img/leaderboard/03_tab.png" />{{/link-to}}
    {{#link-to 'firstlook.leaderboard.elite-ae450k' replace="true"}}<img src="/assets/img/leaderboard/04_tab.png" />{{/link-to}}
    {{#link-to 'firstlook.leaderboard.elite-ae400k' replace="true"}}<img src="/assets/img/leaderboard/05_tab.png" />{{/link-to}}


  </div>
</div>

<div class="row" >

<div class="col-md-12 col-lg-4" >
  <div><img src="/assets/img/leaderboard/1st_place.png"></div>
  <div style=" ">
    <span class="ltBlue">Name: </span > Jane Smith <br>
    <span class="ltBlue">Manager</span> Robert Johnson<br> <span class="ltBlue">Division</span> Pacific West<br> <span class="ltBlue">Region</span> Los Angeles
  </div>
</div >

<div class=" col-md-12 col-lg-8" style="border:1px solid blue">
  <div class="row" >

    <div class=" "  style="text-align:left;">
      <div style="float:left;">
        <img src="/assets/img/leaderboard/2nd-5th_place.png" width="150" style="margin-right:16px;" >
      </div>
    <div style=" ">
      <h5>Jane Smith</h5><h5 class="ltBlue">P123456</h5>
      <span class="ltBlue">Manager</span> Robert Johnson<br> <span class="ltBlue">Division</span> Pacific West<br> <span class="ltBlue">Region</span> Los Angeles
    </div>
    </div>



    <div class=" "  style="text-align:left;">
      <div style="float:left;">
        <img src="/assets/img/leaderboard/2nd-5th_place.png" width="150" style="margin-right:16px;" >
      </div>
    <div style=" ">
      <h5>Jane Smith</h5><h5 class="ltBlue">P123456</h5>
      <span class="ltBlue">Manager</span> Robert Johnson<br> <span class="ltBlue">Division</span> Pacific West<br> <span class="ltBlue">Region</span> Los Angeles
    </div>
    </div>


  </div>
  <div class="row" >
      <img src="/assets/img/leaderboard/2nd-5th_place.png">
      <img src="/assets/img/leaderboard/2nd-5th_place.png">
    </div>
</div>

</div>

{{outlet}}
