{{#if currentUser.user.isAdmin}}

  <div class="hello">You Are In Admin, Enjoy Your Unlimited Power</div>
  <div class="admin-page">
    <div class="admin-links">
      {{#link-to "profile.edit"}}Edit info{{/link-to}}
      {{#link-to "profile.detail"}}Info{{/link-to}}
    </div>
    <div class="div">
      {{#each flashMessages.queue as |flash|}}
        {{#flash-message flash=flash as |component flash|}}

          <p class="hi">{{flash.message}}</p>
        {{/flash-message}}
      {{/each}}
      <div class="admin__content">{{outlet}}</div>
    </div>

  </div>

{{/if}}
