<div id="wrapper" class="homepageWrapper">
  <div id="contentHome" class="" >
    <section id="header">
          <div style="float:left; margin:0;"><img class="l_FirstLook" src="/assets/img/L_FirstLook.png"></div>
    </section>


<section id="welcome" class="welcomeMessage" style=" min-height:calc(100vh - 180px ) !important;   background-image: url('/assets/img/homepage/background-welcome.jpg');">
      <div  class="container fadein"  style="" >

  <h1 class="welcomeMessageh1" style="">FAQs</h1>


</div>
</section>


<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p>
</section>

</div>
<!--  END WRAPPER  -->
</div>
