
<div id="wrapper" >
  <div id="contentHome" class="" >
    <section id="header" >
      <div class="userNameTop">Welcome, {{ currentUser.pid.firstname }}</div>
          <img class="l_FirstLook" src="/assets/img/L_FirstLook.png" >
    </section>



<section id="welcome" style=" min-height:calc(100vh - 130px ) !important;   background-image: url('/assets/img/rules.jpg');">

  <div  class="container fadein"  style="" >

<h1 class="" style="">FAQs</h1>


<div id="rules" style="margin-bottom:120px;  " >
<h3>Question 1</h3>
<p>Answer 1 here.</p>

</div>

</div>


<div id="spacer" class="spacer20">
  <p>&nbsp;</p>
</div>

</section>



<section id="homepageCornerLogo">
  <img src="/assets/img/Spectrum_Reach_Rev_RGB.svg">
</section>

<section id="stickyFooter">
<div class="copyright"><p>Copyright 2018 • Spectrum Reach • All Rights Reserved</p></div>
 <div class="toTop"><span class="" {{action "scrollToTop"}}><span style="color:#ffffff;">Return to Top</span> <img src="/assets/img/leaderboard/return_top.svg" /></span></div>

</section>

</div>
<!--  END WRAPPER  -->
</div>
