{{!-- The following component displays Ember's default welcome message. --}}
<h1>Hello World</h1>
{{!-- Feel free to remove this! --}}

{{#link-to "sign-up" style="display: block; height: 40rem; width: 40rem; background-color: white;" }}Already Have an Account?{{/link-to}}

{{outlet}}