<section style='style="
    height: 100vh;
    width: 100%;
    background: #0099D8;"'>

<div class="container" >
  <div class="row">
    <div class="col-md-12  text-center">
      <!-- <p style="margin-top: 20rem; ">Hold Yer Horses, We loadin!</p> -->
        <!-- <img style="max-width: 4rem; position: absolute: top: 50%; left: 45%;" class="loading" src="/assets/img/horse-.png" alt=""> -->
      <p style="margin-top: 20rem; color: white;">Our Sales Team has been hard at work.  Please wait as we load the data.</p>
        <!-- <img style="max-width: 4rem; position: absolute: top: 50%; left: 45%;" class="loading" src="/assets/img/loading2.png" alt=""> -->
    </div>

  </div>
  <div class="spinner">
    <div class="bounce1 zero" style="padding-left: 5px;"></div>
    <div class="bounce2 zero" style="padding-left: 5px;"></div>
    <div class="bounce3 zero"></div>
  </div>
</div>
</section>
